// sub_01.scss

@import "./_basic/var";

html{background-color: $bg;}
#wrap{width: 100%; height: 100%; background-color: $bg;}


@import "./_temp/_sub_01/_sub_01_1920"; 
@import "./_temp/_sub_01/_sub_01_1280";
@import "./_temp/_sub_01/_sub_01_970";
// @import "./_temp/_sub_01/_sub_01_768";
// @import "./_temp/_sub_01/_sub_01_480";