// _970.scss

@media screen and (min-width:769px) and (max-width:970px){
  @import "../_h_f/h_f_970"; 

// viewBox ============================================
#viewBox{position: relative; width: 100%; height: 100%;
  >.indicator{position: absolute; z-index: 100; left: 0; right: 0; bottom: 15%; margin: auto; width: 28.125rem; height: 0.625rem;
    >li{float: left; width: 9.375rem; height: 100%; background-color: #c8c8c8;
      >a{display: block; width: 100%; height: 100%; outline: none;}
      >a.action{background-color: #fff; outline: none;}
    }// li
  }// .indicator
  >.product{width: 100%; height: 100%;
    >li{float: left; width: 100%; height: 100%; background-repeat: no-repeat;
      >.text{position: relative; top: 50%; transform: translateY(-50%); text-shadow: 0.125rem 0.125rem 0.0625rem rgba(255,255,255,0.5);}
    }// li
    >.slide_01{background-size: cover; background-position: 50% 50%;
      >.text{width: 100%; height: 12.5rem; font-size: 2.8125rem; text-transform: uppercase; text-align: center;
        >em{width: 100%; height: 2.5rem; font-style: inherit; color: $textem;}
        >h3{width: 100%; height: 7.5rem; padding: 1rem 0; box-sizing: border-box; font-size: 5.2rem; text-transform: capitalize; font-weight: bold; color: $main;}
        >span{width: 100%; height: 2.5rem; color: $text;}
      }// .text
    }// .slide_01
    >.slide_02{background-color: $bg; background-position: 50% 50%; background-size: cover;
      >.text{width: 100%; height: 13.125rem; padding: 0 14.8vw; box-sizing: border-box;
        >h3{width: 100%; height: 9.375rem; color: $main; font-size: 3.75rem; text-transform: uppercase; font-weight: bold;}
        >span{display: block; width: 6.25rem; height: 2.5rem; text-align: center; line-height: 2.5rem; color: #fff; font-size: 1.875rem; background-color: $main; text-shadow: none;}
      }// .text
    }// slide_02
    >.slide_03{background-color: #EBEEFF; background-position: 0 0;
      >.text{width: 100%; height: 12.5rem; text-align: center;
        >h3{width: 100%; height: 100%; color: $main; font-size: 3.75rem; font-weight: bold;
          >span{color: $yellow;}
        }// h3
      }// .text
    }// slide_03
  }// .product
  >.side_bar{position: fixed; z-index: 400; top: 0; bottom: 0; right: 5vw; margin: auto; width: 2.5rem; height: 18.75rem;
    >li{width: 1.875rem; height: 1.875rem; border-radius: 100%; margin-bottom: 2.5rem; background-color: #ccc;
      >a{position: relative; display: block; width: 100%; height: 100%; border-radius: 100%;
        >span{position: absolute; display: block; right: 3.125rem; width: 0; height: 2.1875rem; border-radius: 0.625rem; font-size: 1.25rem; color: #fff; text-transform: uppercase; font-weight: bold; text-align: center;  line-height: 2.1875rem; background-color: $main; overflow: hidden; transition: all 300ms ease;}
      }// a
      >a.action{background-color: #fff; box-shadow: 0 0 0.4375rem rgba(0, 0, 0, 0.5); outline: none;
        >span{display: block; width: 9.375rem;}
      }// a.action
    }// li
    >li:last-child{margin-bottom:0;}
  }// .side_bar
}// #viewBox

// conBox ============================================
#conBox{width: 100%; height: auto;
  >article{width: 100%; height: 100vh; padding: 6.25rem 0; box-sizing: border-box;
    >.title{width: 100%; height: auto; margin: auto; margin-bottom: 3.125rem; text-align: center;
      >p{font-size: 2.8rem; color: $main; font-weight: bold; text-transform: uppercase;}
      >span{font-size: 2rem; color: $main;}
    }// .title
  }// article
  >#brandBox{background-color: $bg;
    >ul{width: 94vw; height: 82vw; margin: auto;
      >li{position: relative; float: left; width: 94vw; height: 27.3vw; background-position: 50% 50%; background-size: cover; background-repeat: no-repeat;
        >a{display: block; width: 100%; height: 100%;
          >.inner{position: relative; width: 100%; height: 5rem; top: 50%; transform: translateY(-50%); left: 0; right: 0; margin: auto;
            >.icon{position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 14.3vw; height: 14.3vw; border-radius: 100%; margin: auto; background-color: #fff; background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;}
            >.icon_01{background-color: #A7CEF7; background-image: url("../img/favicon.png");}
            >.icon_02{background-color: #CADD90; background-image: url("../img/spoon.png");}
            >.icon_03{background-color: #294B6F; background-image: url("../img/store_w.png");}
            >dl{width: 100%; height: 100%;
              >dt{position: relative; float: left; top: 50%; transform:translateY(-50%); width: 40%; height: auto; font-size: 4vw; color: #fff; text-transform: uppercase; text-decoration: underline; text-align: center;}
              >dd{position: relative; float: right; top: 50%; transform:translateY(-50%); width: 40%; height: auto; font-size: 3.2vw; color: #fff; text-align: center;}
            }// dl
          }// .inner
        }// a
      }// li
      >li:nth-child(1){background-image: url("../img/brand_s_01.jpg");}
      >li:nth-child(2){background-image: url("../img/brand_s_02.jpg");}
      >li:nth-child(3){background-image: url("../img/brand_s_03.jpg");}
    }// ul
  }// #brandBox
  >#menuBox{position: relative; background-color: $bg; overflow: hidden;
    >.menu_slide{position: relative; width: 100%; height: 21.875rem; margin-top: 8.125rem;
      $liLen:5; $liWidth: 18.75rem; $marginR:3.125rem;
      >ul{position: absolute; left:50%; transform:translateX(-50%); width: ($liWidth + $marginR) * $liLen - $marginR; height: 100%; margin: auto;
        >li{float: left; width: 18.75rem; height: 100%; margin-right: 3.125rem; border: 0.0625rem solid #ccc; box-sizing: border-box; background-size: 45%; background-position: 50% 50%; background-repeat: no-repeat; background-color: #fff; opacity: 0.5;
          transition:all 300ms ease;
          &:last-child{margin-right:0;}
          >a{display: none; width: 100%; height: 100%;
            >em{display: block; width: 90%; height: 1.875rem; margin: auto; margin-top: 1.875rem; padding-bottom: 2.5rem; box-sizing: border-box; font-size: 1.5rem; font-style: inherit; color: #fff; font-weight: bold; text-align: center; border-bottom: 0.125rem solid #fff;}
            >p{width: 100%; height: 8.125rem; margin-top: 1.875rem; font-size: 1rem; color: #fff; line-height: 1.4375rem; text-align: center;}
            >span{display: block; width: 100%; height: 1.875rem; margin-top: 3.125rem; font-size: 1rem; font-weight: bold; color: #fff; text-align: center;}
          }// a
          &.action{opacity: 1; transform: scale(1.3); background-color: #eee;}
          
          &.action > a{display: block; opacity:0; width: 100%; height: 100%;  padding: 0.625rem; box-sizing: border-box; background-color: #eee; background-repeat: no-repeat; background-size: 55%; background-position: 50% 50%;
        transition:all 300ms ease; 
          }// a.action
          &.action>a:hover,&.action>a:focus{background-color: rgba($main,0.9); opacity: 1;
          }// a:hover
        }// li
      }// ul
      >.arrow_btn{position: absolute; z-index: 300; left: 0; right: 0; top: 40%; margin: auto; width: 65vw; height: 0;
        >button{width: 3.75rem; height: 3.75rem; background-size: contain; background-position: 50% 50%; background-repeat: no-repeat; background-color: transparent;
        }// button
        >.next{float: right; background-image: url("../img/arrow_next.png");
        &:hover,&:focus{background-image: url("../img/arrow_next_c.png");}
        }// .next
        >.prev{float: left; background-image: url("../img/arrow_prev.png");
        &:hover,&:focus{background-image: url("../img/arrow_prev_c.png");}
        }// .prev
      }// .arrow_btn
    }// .menu_slide  
    >.menu_btn{width: 10.625rem; height: 3.25rem; margin: auto; margin-top: 6.25rem;
      >.menu{width: 10.625rem; height: 3.25rem; border-radius: 0.625rem; border: 0.1875rem solid $main; box-sizing: border-box; color: $main; font-size: 1.2rem; text-align: center; background-color: transparent;}
        >.menu:hover,.menu:focus{color: #fff; background-color: $main;}
    }// .menu_btn
  }// #menuBox
  >#snsBox{background-image: url("../img/sns_box.jpg"); background-position: 50% 50%; background-size: cover; background-repeat: no-repeat;
    >ul{width: 74vw; height: auto; margin: auto;
      >li{float: left; width: 23vw; height: 23vw; margin-right: 2.5vw; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;
        >a{display: block; width: 100%; height: 100%; padding: 11vw 2.6vw; box-sizing: border-box; 
          >p{display: none;}
        }// a
        >a:hover,a:focus{background-image: url("../img/insta_bg.jpg"); background-position: 50% 50%; background-size: cover;
          >p{display: block; width: 100%; height: auto; text-align: center; font-weight: bold; font-size: 2.4vw; text-transform: uppercase; color: #fff;
          >i{padding-left: 2vw;}
          }// p}
        }// a:hover
      }// li
      >li:nth-child(-n+6){margin-bottom: 1.25rem;}
      >li:nth-child(3n){margin-right: 0;}
      >li:last-child{display: none;}
    }
  }// #snsBox
  .top_btn{display: none;}
}// #conBox

}