/*reset*/
html,body{width:100%; height: auto; background-color: #eee;}
*{padding: 0; margin: 0; border: 0; outline: 0;}
ol,ul,li{list-style: none;}
a{text-decoration: none; font-family: inherit;}
header,section,nav,article,footer{display: block;}

/*design*/
#wrap{width:1200px; height:auto; margin: auto;}

#headBox{position: relative; z-index: 500; width:100%; height:100px; background-color: #faf;}
h1{float:left; width: 150px; height: 100%; background-color: #fa0;}
#gnb{float:right; width: 400px; height: auto; min-height: 50px; margin-top: 50px; margin-right: 20px; background-color: #ccc;}
#gnb>ul{width:100%; height: auto;}
#gnb>ul:after{content: " "; display: block; clear: both;}
#gnb>ul>li{float: left; width: 100px; height: 50px; text-align: center;}
#gnb a{display: block; width: 100%; height: 50px; line-height: 50px; background-color: #fff;}

#headBox:after{content: " "; display: block; position: absolute; top: 100%; left: 0; z-index: -1; width: 100%; height: 0; background-color: #fff; transition: height 400ms ease;}

ol{height: 0; overflow: hidden; transition: height 400ms ease;}

#headBox:hover ol{height: 150px;}
#headBox:hover:after{height: 150px;}

#viewBox{position: relative; width:100%; height:300px; background-color: #aaf;}
#viewBox>h2{width: 0; height: 0; overflow: hidden;}
.fixed_text{position: absolute; z-index: 100; bottom: 0; right: 0; width:800px; height: 50px; background-color: #777; color:#fff; text-align: center; font-size: 2rem; font-weight: bold; line-height: 50px; border-radius: 25px 0 0 25px;}
.slide_wrap{position: relative; width: 100%; height: 100%;}
.slide{position: absolute; z-index: 5; top: 0; left: 0; background-color: #dfdfdf; width:100%; height: 100%; font-size: 3rem; box-sizing: border-box; padding: 2rem;}

#conBox{width:100%; height:200px; background-color: #fa0;}

#footBox{width:100%; height:100px; background-color: #ccc;}