/*common*/
html,body{width:100%; height: 100%; background-color: #ddd;}
*{margin: 0; padding: 0; border: 0; outline: 0;}
ul,li,dl,dt,dd{list-style: none;}
a{text-decoration: none;}
header,article,section,nav,footer{display:block}
/*layout*/
#wrap{width: 1200px; height: 700px; margin:auto; overflow:hidden;}

#headBox{position: relative; z-index: 100; width: 100%; height: 100px; background-color: #fff;}
#headBox:before{display: block; content: " "; position: absolute; z-index: -1; left: 50%; margin-left: -100vw; width:300%; height: 100%; background-color: #333;}
#headBox:after{display: block; content: " "; width: 0; height: auto; clear: both;}

h1{float:left; width:200px; height:100%; background-color:#fff;}
h1>a{display: block; width: 100%; height: 100%; color:#3cb149; background-image: url("../img/gcass_logo_s.png"); background-repeat: no-repeat; background-position: 50%	50%; background-size: contain;}
h1>a>span{display: block; width:0; height: 0; overflow: hidden;}
.list{float: left; width: 1000px; height: 100%; padding-top: 40px; box-sizing: border-box;}
.list>h2{display: block; width:0; height: 0; overflow: hidden;}
.list>ul{width: 600px; height: auto; margin-left: 350px;}

.list>ul>li{float:left; width:25%; height: auto;}
.list>ul>li>dl{width: 100%; height: auto;}
.list>ul>li>dl>dt{width:100%; height: 60px; background-color:#fff; border:1px solid #333; border-right: 0; box-sizing: border-box;}
.list>ul>li:last-child>dl>dt{border-right: 1px solid #333;}
.list>ul>li>dl>dt>a{display: block; width: 100%; height: 100%; text-align: center; line-height: 60px; color:#333;}
.list>ul>li>dl>dd{display: none; width:100%; height: 50px; background-color:#333;}
.list>ul>li>dl>dd>a{display: block; width: 100%; height: 100%; text-align: center; line-height: 50px; color:#fff;}
.list dt>a:hover,.list dt>a:focus{background-color: #333; color:#fff;}
.list dd>a:hover,.list dd>a:focus{background-color: #fff; color:#333;}

#viewBox{width: 100%; height: 300px; background-color:#f0f;}
#viewBox>h2{width:0; height: 0; overflow: hidden;}
#viewBox>ul{width: 400%; height: 100%;}
#viewBox>ul>li{float: left; width:25%; height: 100%;}

#conBox{width: 100%; height: 200px;}
.notice{float:left; width: 33.333333%; height: 100%;}
.notice>h2{width:100%; height: 30px; background-color: #faf;}
.not_con{width:100%; height:170px; background-color: #fff;}
.gallary{float:left; width: 33.3333334%; height: 100%; background-color:#ffa;}
.gallary>h2{width:100%; height: 30px; background-color: #faf;}
.gal_con{width: 100%; height: 170px; background-color: #eee;}
.gal_con>.con{float: left; width: 100px; height: 100px; margin:30px 15px 0; background-color: #afa}
.con>a{display: block; width: 100%; height: 100%;}
.banner{float:left; width: 33.333333%; height: 100%; background-color:#f0a;}

#footBox{width: 100%; height: 100px; background-color:#afa;}
#footBox>h2{width:0; height: 0; overflow: hidden;}
.logo{float:left; width: 200px; height: 100%; background-color:#eee;}
.logo>a{display: block; width: 100%; height: 100%; background-size: contain; background-repeat: no-repeat; background-position: 50%	50%; background-image: url("../img/gcass_logo_s.png")}
.copyright{float:left; width: 800px; height: 100%; background-color:#a0a;}
.family{float:left; width: 200px; height: 100%; background-color:#faa;}