// _sub_01_1280.scss

@media screen and (max-width:1280px) and (min-width:971px) {

  @import "../_h_f/h_f_1280";


  #viewBox{width: 100%; height: 18.75rem; background-image: url("../img/yogurt_view.jpg"); background-repeat: no-repeat; background-size: 100%; background-position: 0 0; background-attachment: fixed;
    h2{width: 100%; height: 100%; text-align: center; font-size: 2rem; line-height: 25rem; color: #fff; text-shadow: 0.1875rem 0.1875rem 0.1875rem rgba(51, 51, 51, 0.5);}
  }

  #contentBox{width: 59.375rem; height: 251.875rem; padding: 12.5rem 3.125rem; margin: auto; box-sizing: border-box; word-break: keep-all; background-color: $bg;
    .conbox{position: relative; padding-bottom: 10rem;}
    .conbox::before{content: " "; display: block; position: absolute; z-index: 100; width: 6.25rem; height: auto; margin: auto; border-bottom: 0.125rem solid #ccc; box-sizing: border-box; bottom:0; left:50%; transform:translateX(-50%);}
    .greekBox{width: 100%; height: auto;
      >dl{width: 100%; height: auto;
        >dt{opacity: 0; position: relative; z-index: 1; width: 100%; height: 3.125rem; font-size: 1.875rem; font-weight: bold; color: $main;}
        >dt::before{content: " "; display: block; position: absolute; z-index: -1; top: 35%; left: 0.5%; width: 10.625rem; height: 30%; background-color: rgba(200, 200, 200, 0.5)}
        >dt.action{opacity: 1; transform: translateY(-50px); transition: all 1000ms ease 150ms;}
        >dd{opacity: 0; width: 100%; height: auto; padding-top: 5rem; box-sizing: border-box; line-height: 3.125rem; font-size: 1.25rem; color: $text;
          >span{color: $textem;}
        }// dd
        >dd.action{opacity: 1; transform: translateY(-50px); transition: all 1000ms ease 150ms;}
        >p{opacity: 0; display: block; width: 100%; height: auto; margin-top: 3.125rem; line-height: 1.875rem; font-size: 1.1rem; color: $text;}
        >p.action{opacity: 1; transform: translateY(-50px); transition: all 1000ms ease 150ms;}
      }// dl
    }// .greekBox
    .vsBox{width: 54.375rem; height: auto; margin: auto;
      >li{float: left; width: 18.125rem; height: auto; margin-top: 10rem;
        >dl{width: 100%; height: auto;
          >dt{width: 9.375rem; height: 9.375rem; border-radius: 100%; background-color: #ccc; margin: auto;
            >span{display: block; width: 100%; height: 100%; font-size: 1.5625rem; font-weight: bold; text-align: center; transform: translateY(35%); color: $textem;}
          }// dt
          >dd{width: 100%; height: 18.75rem; margin-top: 6.25rem; font-size: 1.2rem; line-height: 3.125rem; text-align: center; color: $text;}
        }// dl
        >p{width: 100%; height: 9.375rem; font-size: 2rem; font-weight: bold; text-align: center; transform: translateY(40%); color: $textem;}
      }// li
      >li:first-child{opacity: 0; transform: translateX(-100%);}
      >li:first-child.action{left:0; opacity: 1; transform: translateX(0); transition: all 1500ms ease;}
      >li:last-child{opacity: 0; transform: translateX(100%);
        >dl{
          >dt{background-color: #B0D6FD;
            >span{color: $main;}
          }// dt
          >dd{color: $textem;}
        }// dl
      }// li:last-child
      >li:last-child.action{right:0; opacity: 1; transform: translateX(0); transition: all 1500ms ease;}
    }// .vsBox
    .vsBox::after{content: " "; display: block; width: 0; height: 0; clear: both;}

    .iconBox{width: 100%; height: 93.75rem;
      >li{opacity: 0; width: 100%; height: 8.75rem; margin-top: 10rem; margin-bottom: 6.25rem; background-color: transparent;
        >dl{
          >div{float: left; width: 6.25rem; height: 6.25rem; margin-right: 5rem; margin-top: 1.25rem; border-radius: 100%; background-position: 50% 50%; background-repeat: no-repeat; background-size: 80%;}
          >dt{width: 100%; height: 5rem; font-size: 1.5625rem; font-weight: bold; color: $textem; line-height: 5rem;}
          >dd{width: 100%; height: 3.75rem; font-size: 1.125rem; color: $text;}
          >.icon_01{background-color: $main; background-image: url("../img/protein_w.png");}
          >.icon_02{border: 0.125rem solid #3B2A22; background-color: #fff; background-image: url("../img/probio.png");}
          >.icon_03{border: 0.125rem solid #DC6129; background-color: #fff; background-image: url("../img/vitamin_c.png");}
          >.icon_04{background-color: #8D418C; background-image: url("../img/iodine_w.png"); background-size: 22%;}
          >.icon_05{border: 0.125rem solid $main; background-color: #fff; background-image: url("../img/calcium_b.png");}
        }// dl  
      }// li
      >li.action{opacity: 1; transform: translateY(-50px); transition: all 1000ms ease 150ms;}
      >p{opacity: 0; display: block; width: 100%; height: 1.875rem; font-size: 1.1rem; color: $text;}
      >p.action{opacity: 1; transform: translateY(-50px); transition: all 1000ms ease 150ms;}
    }// .iconBox
    .careBox{width: 100%; height: auto;
      >dl{width: 100%; height: auto; margin-top: 10rem;
        >dt{opacity: 0; position: relative; z-index: 1; width: 100%; height: 3.125rem; font-size: 1.875rem; font-weight: bold; color: $main;}
        >dt::before{content: " "; display: block; position: absolute; z-index: -1; top: 35%; left: 0.5%; width: 16.25rem; height: 30%; background-color: rgba(200, 200, 200, 0.5)}
        >dt.action{opacity: 1; transform: translateY(-50px); transition: all 1000ms ease 150ms;}
        >dd{opacity: 0; width: 100%; height: auto; padding-top: 5rem; box-sizing: border-box; line-height: 3.125rem; font-size: 1.25rem; color: $text;
          >em{color: $textem; font-style: normal;}
        }//dd
        >dd.action{opacity: 1; transform: translateY(-50px); transition: all 1000ms ease 150ms;}
      }// dl
    }// .careBox
    .top_btn{position: fixed; z-index: 300; bottom: 10%; right: 5%; width: 2.5rem; height: 2.5rem;
      >button{display: none; width: 100%; height: 100%; padding: 0; background-color: #fff; border: 0.125rem solid $main; border-radius: 100%; font-size: 0.8rem; color: $main; font-weight: bold; text-transform: uppercase; line-height: 2.3125rem; text-align: center;}
      >button:hover,>button:focus{background-color: $main; color: #fff;}
    }// .top_btn
  }// #contentBox
  
}