#headBox{position: fixed; z-index: 500; width: 100%; min-width: 350px; height: 65px; padding: 20px; box-sizing: border-box;
  >h1{float: left; width: 100px; height: 25px;
    >a{display: block; width: 100%; height: 100%; background-position: 50% 50%; background-size: contain; background-repeat: no-repeat; background-image: url("../img/logo_w.png");}
  }//h1
  >aside{float: right; width: 130px; height: 25px;
    >.sound{float: left; width: 90px; height: 100%; margin-right: 10px;
      >input{display: block; width: 90%; height: 100%; padding-left: 0; line-height: 20px; font-size: 12px; font-weight: bold; text-align: center; text-transform: capitalize; color: #fff; background-color: transparent; border: 1px solid #fff; border-radius: 30px;}
      
      >.off{display: none;}
    }//.sound
    >.gnb{float: right; width: 30px; height: 100%;
      >a{display: block; width: 100%; height: 100%; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url("../img/bar.png");}
      >.gnb_bg{display: none; position: fixed; z-index: 1000; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 100%; height: 100%; background-color: rgba(250,250,250,0.95);
        >.ex{width: 30px; height: 30px; margin: auto; padding: 100px 0 70px 0;
          >a{display: block; width: 100%; height: 100%; background-position: 50% 50%; background-repeat: no-repeat; background-size: contain; background-image: url("../img/ex.png");}
          >a:hover{background-image: url("../img/ex_c.png");}
        }//ex
        >.menu_bg{width: 100%; height: 500px; margin: auto;
          >dl{width: 200px; height: auto; margin: auto;
            >dt{width: 100%; height: 50px; margin-bottom: 50px;
              >a{position: relative; display: block; width: 100%; height: 100%; font-size: 25px; color: $textem; font-weight: bold; text-align: center; line-height: 50px;}
              >a:after,
              >a::after{content: " "; display: block; position: absolute; z-index: 500; bottom: -1; right: 0; left: 0; width: 0; height: 0; border-bottom: 4px solid #333; transition: width 300ms ease;}
              >a.action:after,
              >a.action::after{width: 100%;}
            }//dt
            >dd{display: none;}//dd
          }//dl
        }//.menu_bg
      }//.gnb_bg
    }//.gnb
  }//aside
}//#headBox
#footBox{width: 100%; min-width: 350px; height: auto; padding: 50px; box-sizing: border-box; background-color: #fff;
  >.snsBox{width: 100%; height: 30px; margin: auto; 
    >li{float: left; width: 30%; height: 30px;
      >a{display: block; width: 100%; height: 100%;
        .logo{float: left; background-position: 50% 50%; background-repeat: no-repeat; background-size: contain;}
        .name{display: none;}
      }//a
    }//li
    >.you{
      .logo{width: 100%; height: 30px; background-image: url("../img/youtube.png");}
    }//.you
    >.face{
      .logo{width: 100%; height: 30px; background-image: url("../img/facebook.png");}
    }//.face
    >.naver{
      .logo{width: 100%; height: 30px; background-image: url("../img/naver.png");}
    }//.naver
  }//.snsBox
  >.infoBox{width: 100%; height: auto;
    >.global{width: 120px; height: 20px; margin: auto; margin-top: 40px;
      >a{float: left; display: block; width: 50px; height: auto; margin-right: 10px; font-size: 15px; color: #777;}
      >p{float: left; width: 60px; height: auto; font-size: 15px; color: $textem; font-weight: bold;}
    }//.global
    >.info{width: 200px; height: 20px; margin: auto; margin-top: 20px; color: $text;
      >a{float: left; display: block; width: auto; height: 100%; margin-right: 5px; font-size: 13px;}
      >a:last-of-type{margin-right: 0;}
    }//.info
    >.my{width: 100%; height: 50px; margin: auto; margin-top: 40px; text-align: center; color: $text; font-size: 12px;}
  }//.infoBox
}//#footBox