/* yogurt_01_pc_1280 */

@media screen and (min-width:769px) and (max-width:1280px) {

#headBox{height: 110px; padding: 25px 100px; box-sizing: border-box;}

h1{width: 110px; height: 65px;}

.gnb{position: absolute; left: 0; right: 0; margin: auto; width: 769px; height: 40px; margin-top: 10px;}


.gnb > ul > li{width: 166px; font-size: 25px; line-height: 40px; margin-right: 35px;}


.fran{width: 60px; height: 60px; padding-top: 10px; font-size: 15px; }


#contentBox{height: 3200px;}

.con{height: 800px;  padding: 80px 100px 120px;}


.view_area{height: 800px; background-size: cover;}

.scroll{width: 600px;}

.scroll > ul > li{width: 200px;}


.sidebar{height: 234px; top: 35%; transform: translateY(-50%); right: 50px; margin: auto;}

.sidebar > ul > li{width: 24px; height: 24px;}  

.brand_area > ul{width: 1080px; height: 430px; margin-top: 55px;}

.brand_area > ul > li{width: 360px; height: 100%; background-color: #777;}
}

.brand_area > ul > li:nth-child(1) > a{background-size: auto 100%;}
.brand_area > ul > li:nth-child(2) > a{background-size: auto 100%;}
.brand_area > ul > li:nth-child(3) > a{background-size: auto 100%;}

.brand_area > ul > li > a:after{content:" "; display:block;width: 100%; height: 100%; background-color:rgba(119,119,119,0.6); transition: all 300ms ease;}


.brand_area > ul > li:nth-child(1) > a:hover:after{background-color: #1B398F;}
.brand_area > ul > li:nth-child(2) > a:hover:after,
.brand_area > ul > li:nth-child(2) > a:focus:after{background-color: #697F24;}
.brand_area > ul > li:nth-child(3) > a:hover:after,
.brand_area > ul > li:nth-child(3) > a:focus:after{background-color: #8CB1C8;}

.brand_area > ul > li div{width: 100px; height: 100px; margin: auto;}

.brand_area > ul > li .icon_01{background-color: #1B398F; background-image: url("../../img/neck_w.png"); background-size: 100% auto; background-position: 50% 50%;}
.brand_area > ul > li:hover .icon_01{background-color: #A7CEF7; background-image: url("../../img/favicon.png"); background-size: auto 100%; background-position: 50% 50%;}

.brand_area > ul > li .icon_02{background-color: #697F24; background-image: url("../../img/spoon_w.png"); background-position: 50% 50%; background-size: 90% auto;}
.brand_area > ul > li:hover .icon_02{background-color: #CADD90; background-image: url("../../img/spoon.png"); background-size: auto 90%; background-position: 50% 50%;}

.brand_area > ul > li .icon_03{background-color: #8CB1C8; background-image: url("../../img/store.png"); background-position: 50% 50%; background-size: 90% auto;}
.brand_area > ul > li:hover .icon_03{background-color: #294B6F; background-image: url("../../img/store_w.png"); background-size: auto 90%; background-position: 50% 50%;}

.brand_area > ul > li > a > dl{}
.brand_area > ul > li > a > dl > dt{}
.brand_area > ul > li > a > dl > dd{}


/* menu_area ===================================== */

.menu_area{background-size: 100% auto;}


.best_area{width: 100%; height: 377px; margin-top: 40px;}


.side{transform: scale(0.7);}

.side:after{content: " "; display: block; width: 100%; height: 100%; border-radius: 100%; background-color: rgba(200, 200, 200, 0.5);}

.best_area > div{float: left; width: 355px; height: 355px;}


.before_best{background-image: url("../../img/3.png"); background-size: 156px 209px; background-position: 96px 80px;}
.after_best{background-image: url("../../img/4.png"); background-size: 140px 206px; background-position: 108px 80px;}


.menu_btn{width: 180px; height: 46px;}

.menu_btn > a{font-size: 20px; line-height: 46px; }


/* sns_area ============================ */
.sns_area{background-size: 100% auto;}

.sns_pic{margin-top: 40px; width: 1086px; height: 506px;}

.sns_pic > ul{width: 100%; height: 100%;}

.sns_pic > ul > li{width: 240px; height: 240px; background-size: 2140px 1374px;}

.sns_pic > ul > li:nth-child(1){margin-bottom: 26px; margin-right: 42px; background-position: -250px -330px;}
.sns_pic > ul > li:nth-child(2){margin-bottom: 26px; margin-right: 42px; background-position: -540px -330px;}
.sns_pic > ul > li:nth-child(3){margin-bottom: 26px; margin-right: 42px; background-position: -850px -330px;}
.sns_pic > ul > li:nth-child(4){margin-bottom: 26px; background-position: -1140px -330px;}
.sns_pic > ul > li:nth-child(5){margin-right: 42px; background-position: -1440px -310px;}
.sns_pic > ul > li:nth-child(6){margin-right: 42px; background-position: -264px -660px;}
.sns_pic > ul > li:nth-child(7){margin-right: 42px; background-position: -550px -586px;}
.sns_pic > ul > li:nth-child(8){background-position: -850px -586px;}
.sns_pic > ul > li:nth-child(9){display: none;}
.sns_pic > ul > li > a{display: block; width: 100%; height: 100%;}

#footBox{height: 260px; padding: 40px 0 26px;}

#footBox > h2{width: 106px; height: 60px;}

#footBox > .info{height: auto;}

.info > p{font-size: 15px; margin-top: 10px;}

.sns_logo{width: 138px; height: 45px; background-size: 150px 75px; background-position: -10px -10px;}

}