/* yogurt_01_mobile_480.css */

@media screen and (max-width:480px){

  h2{text-align: center;}
  p{text-align: center;}
  
  
  #headBox{height: 80px; padding: 20px 20px; box-sizing: border-box;}

    h1{width: 70px; height: 50px;}
    
    .gnb{float: right; width: 60px; height: 60px;}

    .gnb > i {display: block; width: 100%; height: 100%; font-size: 40px; text-align: center; color: #1b398f;}

    .gnb > ul{display: none;}
  
    .fran{display: none;}


  #contentBox{height: 3600px;}
    
    .con{height: 900px;  padding: 150px 25px 130px;}
  
    /* view_area ============================ */
    .view_area{height: 900px; background-size: auto 100%;}

    .scroll{width: 300px;}

    
    .scroll > ul > li{width: 100px;}
   
     
      .sidebar{height: 176px; top: 0; bottom: 0; right: 20px; margin: auto;}

      
      .sidebar > ul > li{width: 20px; height: 20px;}
  
      /* brand_area ============================ */
      .brand_area > ul {margin-top: 60px; width: auto; height: 450px;}

      .brand_area > ul > li{width: 100%; height: 150px; background-position: 50% 50%;}

      .brand_area > ul > li:nth-child(1) > a{background-size: 100% auto;}
      .brand_area > ul > li:nth-child(2) > a{background-size: 100% auto;}
      .brand_area > ul > li:nth-child(3) > a{background-size: 100% auto;}

      
      .brand_area > ul > li > a:after{content:" "; display:block; width: 100%; height: 100%; background-color:rgba(51,51,51,0.6); transition: all 300ms ease;}
  

      .brand_area > ul > li .inner > div{width: 84px; height: 84px; margin: auto;  transform: translateY(40%);}

      .brand_area > ul > li .inner dl{display: block; width: 100%; height: 100%;}
      .brand_area > ul > li .inner dt{float: left;}
      .brand_area > ul > li .inner dd{float: right;}
  
      
      .brand_area > ul > li .icon_01{background-color: #A7CEF7; background-image: url("../../img/favicon.png"); background-position: 50% 50%; background-size: 100% auto;}
      .brand_area > ul > li .icon_02{background-color: #CADD90; background-image: url("../../img/spoon.png"); background-position: 50% 50%; background-size: 90% auto;}
      .brand_area > ul > li .icon_03{background-color: #294B6F; background-image: url("../../img/store_w.png"); background-position: 50% 50%; background-size: 90% auto;}
  

    /* menu_area ============================ */
    .menu_area{padding: 160px 0 150px;  background-size: auto 100%;}
      
      .best_area{width: 100%; height: 350px; margin: 80px 0 50px;}
      

        .best{width: 300px; height: 300px; margin: auto;}
  

      .menu_btn{width: 144px; height: 40px; left: 0; right: 0; margin: auto;}

      .menu_btn > a{line-height: 40px; font-size: 18px;}
  

    /* sns_area ============================ */
    .sns_area{background-size: auto 100%;}
  
    .sns_pic{width: auto; height: 430px; margin-top: 80px;}
  
    .sns_pic > ul{width: auto; height: 100%; margin: auto;}

    .sns_pic > ul > li{display: none; width: 200px; height: 200px; background-size: 1600px 1028px;}
  
    .sns_pic > ul > li:nth-child(1){display: block; margin-bottom: 30px; background-position: -190px -230px;}
    .sns_pic > ul > li:nth-child(2){display: block; margin-left: 30px; margin-bottom: 30px; background-position: -410px -230px;}
    .sns_pic > ul > li:nth-child(3){display: block; background-position: -630px -230px;}
    .sns_pic > ul > li:nth-child(4){display: block; margin-left: 30px; background-position: -850px -230px;}
  
  #footBox{height: 150px; padding: 12px 0;}
  
  #footBox > h2{width: 56px; height: 35px;}

  .info{height: 55px;}
 
  .info > p{line-height: 20px; font-size: 12px;}

  .sns_logo{width: 84px; height: 27px; margin-top: 10px; background-size: 100px; background-position: -10px -10px;}

}