/* yogurt_01_tablet_768.css */
@media screen and (min-width:481px) and (max-width:768px) {

  h2{text-align: center;}
  p{text-align: center;}
  
  
  #headBox{height: 80px; padding: 15px 20px; box-sizing: border-box;}

    h1{width: 70px; height: 50px; margin-top: 5px;}
    
    .gnb{position: absolute; left: 0; right: 0; margin: auto; margin-left: 55px; padding: 10px; width: 480px; height: 40px;}
   

    .gnb > ul > li{width: 100px; margin-right: 20px; font-size: 20px; line-height: 30px;}

  
    .fran{float: right; width: 50px; height: 50px; padding-top: 8px; font-size: 14px;}


  #contentBox{height: 4096px;}
    
    .con{height: 1024px; padding: 130px 30px 100px;}
  
    /* view_area ============================ */
    .view_area{height: 1024px; background-size: auto 100%;}
    
    .scroll{width: 450px;}

    .scroll > ul > li{width: 150px;}
    

      .sidebar{height: 234px; right: 20px;}

      
      .sidebar > ul > li{width: 24px; height: 24px;}
  
      /* brand_area ============================ */
      .brand_area > ul {margin-top: 60px; width: 728px; height: 639px;}

      .brand_area > ul > li{width: 100%; height: 213px;  background-color: #333;}

      .brand_area > ul > li > a{background-size: 100% auto;}

      .brand_area > ul > li > a:after{background-color:rgba(51,51,51,0.6); transition: all 300ms ease;}
  
  
  
      .brand_area > ul > li .inner > div{width: 120px; height: 120px;}

      .brand_area > ul > li .inner dl{display: block;
       width: 520px; height: 100px; margin: auto; transform: translateY(60%);}
      .brand_area > ul > li .inner dt{position: relative; float: left; width: 120px; height: 100%;}
      .brand_area > ul > li .inner dd{position: relative; float: right; width: 120px; height: 100%;}
      .brand_area > ul > li .inner span{display: block; position: absolute; left: 0; top: 50%;
      width: 100%; height:auto; transform:translateY(-50%);}

  
      .brand_area > ul > li .icon_01{background-color: #A7CEF7; background-image: url("../../img/favicon.png"); background-position: 50% 50%; background-size: 100% auto;}
      .brand_area > ul > li .icon_02{background-color: #CADD90; background-image: url("../../img/spoon.png"); background-position: 50% 50%; background-size: 90% auto;}
      .brand_area > ul > li .icon_03{background-color: #294B6F; background-image: url("../../img/store_w.png"); background-position: 50% 50%; background-size: 90% auto;}
  
      
   /* menu_area ============================ */
    .menu_area{padding: 160px 0 150px;  background-size: auto 100%;}
      
      .best_area{width: 100%; height: 350px; margin: 120px 0 100px;}
       

        .best{width: 330px; height: 330px; margin: auto;}
  

      .menu_btn{width: 230px; height: 65px; left: 0; right: 0; margin: auto;}

      .menu_btn > a{line-height: 65px; font-size: 25px;}
  

      /* sns_area ============================ */
    .sns_area{padding-left: 19px;  background-size: auto 100%;}
    
    .sns_pic{width: 730px; height: 660px; margin-top: 90px;}
  
    .sns_pic > ul{width: 100%; height: 100%;}

    .sns_pic > ul > li{width: 230px; height: 210px; margin-bottom: 15px; margin-left: 20px; background-size: 1800px 1156px;}
  
    .sns_pic > ul > li:nth-child(1){margin-left: 0; background-position: -200px -270px;}
    .sns_pic > ul > li:nth-child(2){background-position: -460px -270px;}
    .sns_pic > ul > li:nth-child(3){  background-position: -696px -270px;}
    .sns_pic > ul > li:nth-child(4){ margin-left: 0; background-position: -940px -270px;}
    .sns_pic > ul > li:nth-child(5){ background-position: -1190px -270px;}
    .sns_pic > ul > li:nth-child(6){ background-position: -225px -490px;}
    .sns_pic > ul > li:nth-child(7){ margin-left: 0; margin-bottom: 0; background-position: -455px -490px;}
    .sns_pic > ul > li:nth-child(8){ margin-bottom: 0; background-position: -700px -490px;}
    .sns_pic > ul > li:nth-child(9){ margin-bottom: 0; background-position: -950px -490px;}
  
  #footBox{height: 150px;padding: 12px 100px;}
  
  #footBox > h2{width: 74px; height: 44px;}

  .info{height: 55px;}
  
  .info > p{line-height: 20px; font-size: 14px;}

  .sns_logo{width: 84px; height: 27px; margin-top: 10px; background-size: 100px; background-position: -10px -10px;}

}