// sub_01_970.scss

@media screen and (max-width:970px) and (min-width:769px) {

  @import "../_h_f/h_f_970";

  #viewBox{width: 100%; height: 15.625rem; background-image: url("../../../img/brand_view.jpg"); background-repeat: no-repeat; background-size: 100%; background-position: 0 0; background-attachment: fixed;
    h2{width: 100%; height: 100%; text-align: center; font-size: 1.8rem; line-height: 20.625rem; color: #fff; text-transform: uppercase; text-shadow: 0.1875rem 0.1875rem 0.1875rem rgba(51, 51, 51, 0.5);}
  }

  #contentBox{width: 46.875rem; height:auto; margin: auto; padding: 12.5rem 0; box-sizing: border-box; word-break: keep-all; background-color: $bg;
    .conbox{padding-bottom:10rem; position: relative;}
    .conbox::before{content: " "; display: block; position:absolute; z-index: 100; width: 6.25rem; height:auto; margin:auto; border-bottom: 0.125rem solid #ccc; box-sizing: border-box; bottom:0; left:50%; transform:translateX(-50%);}
    .brandBox{width: 100%; height: auto; text-align: center;
      >dl{width: 100%; height: auto; text-transform: uppercase;
        >dt{opacity: 0; position: relative; z-index: 1; width: 100%; height: 3.125rem; font-size: 1.8rem; font-weight: bold; color: $main;}
        >dt::before{content: " "; display: block; position: absolute; z-index: -1; top: 30%; left: 39.5%; width: 10.9375rem; height: 30%; background-color: rgba(200, 200, 200, 0.5)}
        >dt.action{opacity: 1; transform: translateY(-50px); transition: all 1000ms ease 150ms;}
        >dd{opacity: 0; width: 100%; height: auto; padding-top: 5rem; box-sizing: border-box; line-height: 3.125rem; font-size: 1.25rem; color: $text;
          >span{color: $textem;}
        }// dd
        >dd.action{opacity: 1; transform: translateY(-50px); transition: all 1000ms ease 150ms;}
      }// dl
    }// .brandBox
    .iconBox{width: 100%; height: auto; margin-top: 10rem;
      >li{opacity: 0; width: 7.5rem; height: 7.5rem; margin: auto; margin-bottom: 10rem; background-position: 50% 50%; background-repeat: no-repeat; background-size: contain;}
      >li:nth-child(1){background-image: url("../../../img/nosugar.png"); transition: all 1000ms ease 150ms;}
      >li:nth-child(2){background-image: url("../../../img/nocolor.png"); transition: all 2000ms ease 150ms;}
      >li:nth-child(3){background-image: url("../../../img/noadd.png"); transition: all 3000ms ease 150ms;}
      >li:nth-child(4){background-image: url("../../../img/homemade.png"); transition: all 4000ms ease 150ms;}
      >li:nth-child(5){background-image: url("../../../img/today.png"); margin-bottom: 0; transition: all 5000ms ease 150ms;}
      >li.action{opacity: 1; transform: translateY(-50px);}
    }// .iconBox
    .iconBox::after{content: " "; display: block; width: 0; height: 0; clear: both;}
    .textBox{width: 100%; height: auto; margin-top: 10rem; text-align: center; color: $main; font-size: 4rem; font-weight: bold;
      >span{color: $yellow;}
    }// .textBox
    .top_btn{position: fixed; z-index: 300; bottom: 10%; right: 5%; width: 2.5rem; height: 2.5rem;
      >button{display: none; width: 100%; height: 100%; padding: 0; background-color: #fff; border: 0.125rem solid $main; border-radius: 100%; font-size: 0.8rem; color: $main; font-weight: bold; text-transform: uppercase; line-height: 2.3125rem; text-align: center;}
      >button:hover,>button:focus{background-color: $main; color: #fff;}
    }// .top_btn
  }// #contentBox

}