// sub_02_1.scss


@import "./_basic/var";

#wrap{width: 100%; height: auto; background-color: $bg;
@media screen and (min-width:1281px) {

@import "./_temp/h_f_1920.scss";

#headBox{background-color: rgba(0,0,0,0.5);}

}//1920

@media screen and (max-width:1280px) and (min-width:769px) {

  @import "./_temp/h_f_1280.scss";

  #headBox{background-color: rgba(0,0,0,0.5);}

}//1280

@media screen and (max-width:768px) and (min-width:481px) {
  
  @import "./_temp/h_f_m.scss";

  #headBox{background-color: rgba(0,0,0,0.5);}

  }//768

@media screen and (max-width:480px) {
  
  @import "./_temp/h_f_m.scss";

  #headBox{background-color: rgba(0,0,0,0.5);}

  }//480

}//#wrap