// sub_01.scss


@import "./_basic/var";

#wrap{width: 100%; height: auto; background-color: $bg;
@media screen and (min-width:1281px) {
  @import "./_temp/h_f_1920.scss";
  
  #conBox{position: relative; width: 100%; height: auto; padding: 1100px 0 500px; box-sizing: border-box; background-position: 50% 0; background-repeat: no-repeat; background-size: cover; background-image: url("../img/sub_view_03.jpg");
    >.ment{display: none; width: 95%; height: auto; margin: auto; word-break: keep-all;
      >p{width: 100%; height: auto; font-size: 2rem; color: #fff; text-align: center; text-transform: capitalize; font-weight: bold; line-height: 1.3;
        >em{font-size: 1.2rem; font-weight: normal;}
      }//p
      >span{display: block; width: 100%; height: auto; margin-top: 50px; font-size: 1.2rem; color: #fff; text-align: center; line-height: 1.3;
        >em{font-size: 1rem; font-weight: normal;}
      }//span
    }//.ment
    >h2{display: none; width: 95%; height: auto; margin-top: 500px; font-size: 4rem; text-align: center; font-weight: bold; text-transform: uppercase; color: #fff;}
    >.imgBox{display: none; width: 95%; height: 500px; margin: auto; margin-top: 200px; background-position: 50% 50%; background-repeat: no-repeat; background-size: contain; background-image: url("../img/jeffhamilton.jpg");}
    >.textBox{width: 95%; height: auto; margin-top: 200px; font-size: 1.2rem; text-align: center; text-transform: capitalize; color: #fff; line-height: 1.5; word-break: keep-all;
      >p{opacity: 0; transform: translateY(+10%);
        >a{display: block; margin-top: 20px; color: #33f;}
        >a:hover{color: #f05;}
      }
      >p.action{opacity: 1; transform: translateY(0); transition: all 2000ms ease;}
    }//.textBox
    >p{display: none; width: 1000px; height: 562px; margin: auto; margin-top: 200px;
      >iframe{width: 100%; height: 100%;}
    }//p
    >button{display: none; position: relative; float: right; width: 55%; height: 50px; margin-top: 300px; line-height: 50px; text-align: left; background-color: transparent; font-size: 1.3rem; font-weight: bold;}
    >button:after,
    >button::after{content: " "; display: block; position: absolute; z-index: 500; left: 0; right: 0; bottom: -3; width: 0; height: 0; border-bottom: 3px solid #fff; transition: width 700ms ease;}
    >button.action:after,
    >button.action::after{width: 100%;}
  }//#conBox
}//1920

@media screen and (max-width:1280px) and (min-width:769px) {

  @import "./_temp/h_f_1280.scss";
  
  #conBox{position: relative; width: 100%; height: auto; padding: 900px 0 500px; box-sizing: border-box; background-position: 50% 0; background-repeat: no-repeat; background-size: cover; background-image: url("../img/sub_view_03.jpg");
    >.ment{display: none; width: 95%; height: auto; margin: auto; word-break: keep-all;
      >p{width: 100%; height: auto; font-size: 2rem; color: #fff; text-align: center; text-transform: capitalize; font-weight: bold; line-height: 1.3;
        >em{font-size: 1.2rem; font-weight: normal;}
      }//p
      >span{display: block; width: 100%; height: auto; margin-top: 50px; font-size: 1.2rem; color: #fff; text-align: center; line-height: 1.3;
        >em{font-size: 1rem; font-weight: normal;}
      }//span
    }//.ment
    >h2{display: none; width: 95%; height: auto; margin-top: 500px; font-size: 4rem; text-align: center; font-weight: bold; text-transform: uppercase; color: #fff;}
    >.imgBox{display: none; width: 95%; height: 500px; margin: auto; margin-top: 200px; background-position: 50% 50%; background-repeat: no-repeat; background-size: contain; background-image: url("../img/jeffhamilton.jpg");}
    >.textBox{width: 95%; height: auto; margin-top: 200px; font-size: 1.2rem; text-align: center; text-transform: capitalize; color: #fff; line-height: 1.5; word-break: keep-all;
      >p{opacity: 0; transform: translateY(+10%);
        >a{display: block; margin-top: 20px; color: #33f;}
        >a:hover{color: #f05;}
      }
      >p.action{opacity: 1; transform: translateY(0); transition: all 2000ms ease;}
    }//.textBox
    >p{display: none; width: 765px; height: 430px; margin: auto; margin-top: 200px;
      >iframe{width: 100%; height: 100%;}
    }//p
    >button{display: none; position: relative; float: right; width: 60%; height: 50px; margin-top: 300px; line-height: 50px; text-align: left; background-color: transparent; font-size: 1.3rem; font-weight: bold;}
    >button:after,
    >button::after{content: " "; display: block; position: absolute; z-index: 500; left: 0; right: 0; bottom: -3; width: 0; height: 0; border-bottom: 3px solid #fff; transition: width 700ms ease;}
    >button.action:after,
    >button.action::after{width: 100%;}
  }//#conBox
}//1280

@media screen and (max-width:768px) and (min-width:481px) {
  
@import "./_temp/h_f_m.scss";
#conBox{position: relative; width: 100%; height: auto; padding: 900px 0 500px; box-sizing: border-box; background-position: 50% 0; background-repeat: no-repeat; background-size: cover; background-image: url("../img/sub_view_03.jpg");
  >.ment{display: none; width: 95%; height: auto; margin: auto; word-break: keep-all;
    >p{width: 100%; height: auto; font-size: 2rem; color: #fff; text-align: center; text-transform: capitalize; font-weight: bold; line-height: 1.3;
      >em{font-size: 1.2rem; font-weight: normal;}
    }//p
    >span{display: block; width: 100%; height: auto; margin-top: 50px; font-size: 1.2rem; color: #fff; text-align: center; line-height: 1.3;
      >em{font-size: 1rem; font-weight: normal;}
    }//span
  }//.ment
  >h2{display: none; width: 95%; height: auto; margin-top: 500px; font-size: 4rem; text-align: center; font-weight: bold; text-transform: uppercase; color: #fff;}
  >.imgBox{display: none; width: 95%; height: 500px; margin: auto; margin-top: 200px; background-position: 50% 50%; background-repeat: no-repeat; background-size: contain; background-image: url("../img/jeffhamilton.jpg");}
  >.textBox{width: 95%; height: auto; margin-top: 200px; font-size: 1.2rem; text-align: center; text-transform: capitalize; color: #fff; line-height: 1.5; word-break: keep-all;
    >p{opacity: 0; transform: translateY(+10%);
      >a{display: block; margin-top: 20px; color: #33f;}
      >a:hover{color: #f05;}
    }
    >p.action{opacity: 1; transform: translateY(0); transition: all 2000ms ease;}
  }//.textBox
  >p{display: none; width: 368px; height: 207px; margin: auto; margin-top: 200px;
    >iframe{width: 100%; height: 100%;}
  }//p
  >button{display: none; position: relative; float: right; width: 65%; height: 50px; margin-top: 300px; line-height: 50px; text-align: left; background-color: transparent; font-size: 1.3rem; font-weight: bold;}
    >button:after,
    >button::after{content: " "; display: block; position: absolute; z-index: 500; left: 0; right: 0; bottom: -3; width: 0; height: 0; border-bottom: 3px solid #fff; transition: width 700ms ease;}
    >button.action:after,
    >button.action::after{width: 100%;}
}//#conBox
}//768

@media screen and (max-width:480px) {
  
@import "./_temp/h_f_m.scss";
#conBox{position: relative; width: 100%; min-width: 350px; height: auto; padding: 900px 0 500px; box-sizing: border-box; background-position: 50% 0; background-repeat: no-repeat; background-size: cover; background-image: url("../img/sub_view_03.jpg");
  >.ment{display: none; width: 95%; height: auto; margin: auto; word-break: keep-all;
    >p{width: 100%; height: auto; font-size: 2rem; color: #fff; text-align: center; text-transform: capitalize; font-weight: bold; line-height: 1.3;
      >em{font-size: 1.2rem; font-weight: normal;}
    }//p
    >span{display: block; width: 100%; height: auto; margin-top: 50px; font-size: 1.2rem; color: #fff; text-align: center; line-height: 1.3;
      >em{font-size: 1rem; font-weight: normal;}
    }//span
  }//.ment
  >h2{display: none; width: 95%; height: auto; margin-top: 500px; font-size: 4rem; text-align: center; font-weight: bold; text-transform: uppercase; color: #fff;}
  >.imgBox{display: none; width: 95%; height: 500px; margin: auto; margin-top: 200px; background-position: 50% 50%; background-repeat: no-repeat; background-size: contain; background-image: url("../img/jeffhamilton.jpg");}
  >.textBox{width: 95%; height: auto; margin-top: 200px; font-size: 1.2rem; text-align: center; text-transform: capitalize; color: #fff; line-height: 1.5; word-break: keep-all;
    >p{opacity: 0; transform: translateY(+10%);
      >a{display: block; margin-top: 20px; color: #33f;}
      >a:hover{color: #f05;}
    }
    >p.action{opacity: 1; transform: translateY(0); transition: all 2000ms ease;}
  }//.textBox
  >p{display: none; width: 336px; height: 189px; margin: auto; margin-top: 200px;
    >iframe{width: 100%; height: 100%;}
  }//p
  >button{display: none; position: relative; float: right; width:75%; height: 50px; margin-top: 300px; line-height: 50px; text-align: left; background-color: transparent; font-size: 1.3rem; font-weight: bold;}
    >button:after,
    >button::after{content: " "; display: block; position: absolute; z-index: 500; left: 0; right: 0; bottom: -3; width: 0; height: 0; border-bottom: 3px solid #fff; transition: width 700ms ease;}
    >button.action:after,
    >button.action::after{width: 100%;}
}//#conBox
}//480  
}//#wrap