// sub_01.scss


@import "./_basic/var";

#wrap{width: 100%; height: auto; background-color: $bg;
@media screen and (min-width:1281px) {


@import "./_temp/h_f_1920.scss";

#conBox{width: 100%; height: auto; padding: 1000px 0 500px; box-sizing: border-box; background-position: 0 0; background-repeat: no-repeat; background-size: cover; background-image: url("../img/sub_view_01.jpg");
  >.one{width: 1200px; height: auto; margin: auto;
    >dt{float: left; width: 20%; height: 30px; margin-top: 100px; background-position: 50% 50%; background-repeat: no-repeat; background-size: contain; background-image: url("../img/logo_t.png");}
    >.line{float: left; position: relative; width: 20%; height: 5px; margin-top: 115px; margin-right: 5%;}
    >.line:after,
    >.line::after{content: " "; display: block; position: absolute; z-index: 500; left: 0; right: 0; bottom: -1; width: 0; height: 0; border-bottom: 1px solid #fff; transition: width 700ms ease;}
    >.line.action:after,
    >.line.action::after{width: 100%;}
    >.text{display: none; float: left; width: 55%; height: 300px; padding-top: 90px; box-sizing: border-box; color: #aaa; font-size: 1.2rem; line-height: 2.5; text-transform: uppercase;
      >span{color: #fff; font-weight: bold;}
    }//li
  }//.one
  >.two{width: 1200px; height: auto; margin: auto; margin-top: 200px;
    >li{display: none; float: left; width: 300px; height: 300px; margin-right: 150px; border-radius: 100%; border: 1px solid #fff; box-sizing: border-box; font-size: 1.5rem; line-height: 300px; text-align: center; color: #fff;}//dt
    >li:last-of-type{margin-right: 0;}
  }//.two
  >.three{width: 1200px; height: auto; margin: auto; margin-top: 300px;
    >li{width: 100%; height: auto; margin-top: 150px; font-size: 1.2rem; color: #aaa; word-break: keep-all; line-height: 2.5; text-transform: uppercase;
      >span{color: #fff; font-weight: bold;}
    }//li
    >li:nth-child(1){opacity: 0; transform: translateX(-10%);}
    >li:nth-child(1).action{opacity: 1; transform: translateX(0); transition: all 2000ms ease;}
    >li:nth-child(2){opacity: 0; transform: translateX(-10%);}
    >li:nth-child(2).action{opacity: 1; transform: translateX(0); transition: all 2000ms ease;}
    >li:nth-child(3){opacity: 0; transform: translateX(-10%);}
    >li:nth-child(3).action{opacity: 1; transform: translateX(0); transition: all 2000ms ease;}
  }//>.three
  >button{display: none; position: relative; float: right; width: 57%; height: 50px; margin-top: 300px; line-height: 50px; text-align: left; background-color: transparent; font-size: 1.3rem; font-weight: bold;}
  >button:after,
  >button::after{content: " "; display: block; position: absolute; z-index: 500; left: 0; right: 0; bottom: -3; width: 0; height: 0; border-bottom: 3px solid #fff; transition: width 700ms ease;}
  >button.action:after,
  >button.action::after{width: 100%;}
}//#conBox
}//1920


@media screen and (max-width:1280px) and (min-width:769px) {

@import "./_temp/h_f_1280.scss";

#viewBox{width: 100%; height: 250px; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; background-image: url("../img/sub_view.jpg");}
#conBox{width: 100%; height: auto; padding: 800px 0 500px; box-sizing: border-box; background-position: 0 0; background-repeat: no-repeat; background-size: cover; background-image: url("../img/sub_view_01.jpg");
  >.one{width: 80%; height: auto; margin: auto;
    >dt{float: left; width: 20%; height: 30px; margin-top: 100px; background-position: 50% 50%; background-repeat: no-repeat; background-size: contain; background-image: url("../img/logo_t.png");}
    >.line{float: left; position: relative; width: 20%; height: 5px; margin-top: 115px; margin-right: 5%;}
    >.line:after,
    >.line::after{content: " "; display: block; position: absolute; z-index: 500; left: 0; right: 0; bottom: -1; width: 0; height: 0; border-bottom: 1px solid #fff; transition: width 700ms ease;}
    >.line.action:after,
    >.line.action::after{width: 100%;}
    >.text{display: none; float: left; width: 55%; height: 300px; padding-top: 90px; box-sizing: border-box; color: #aaa; font-size: 1.1rem; line-height: 2.5; text-transform: uppercase;
      >span{color: #fff; font-weight: bold;}
    }//li
  }//.one
  >.two{width: 760px; height: auto; margin: auto; margin-top: 200px;
    >li{display: none; float: left; width: 210px; height: 210px; margin-right: 65px; border-radius: 100%; border: 1px solid #fff; box-sizing: border-box; font-size: 1.2rem; line-height: 210px; text-align: center; color: #fff;}//dt
    >li:last-of-type{margin-right: 0;}
  }//.two
  >.three{width: 80%; height: auto; margin: auto; margin-top: 300px;
    >li{width: 100%; height: auto; margin-top: 150px; font-size: 1.2rem; color: #aaa; word-break: keep-all; line-height: 2.5; text-transform: uppercase;
      >span{color: #fff; font-weight: bold;}
    }//li
    >li:nth-child(1){opacity: 0; transform: translateX(-10%);}
    >li:nth-child(1).action{opacity: 1; transform: translateX(0); transition: all 2000ms ease;}
    >li:nth-child(2){opacity: 0; transform: translateX(-10%);}
    >li:nth-child(2).action{opacity: 1; transform: translateX(0); transition: all 2000ms ease;}
    >li:nth-child(3){opacity: 0; transform: translateX(-10%);}
    >li:nth-child(3).action{opacity: 1; transform: translateX(0); transition: all 2000ms ease;}
  }//>.two
  >button{display: none; position: relative; float: right; width: 60%; height: 50px; margin-top: 300px; line-height: 50px; text-align: left; background-color: transparent; font-size: 1.3rem; font-weight: bold;}
  >button:after,
  >button::after{content: " "; display: block; position: absolute; z-index: 500; left: 0; right: 0; bottom: -3; width: 0; height: 0; border-bottom: 3px solid #fff; transition: width 700ms ease;}
  >button.action:after,
  >button.action::after{width: 100%;}
}//#conBox
}//1280

@media screen and (max-width:768px) and (min-width:481px) {
  
@import "./_temp/h_f_m.scss";

#viewBox{width: 100%; height: 250px; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; background-image: url("../img/sub_view.jpg");}
#conBox{width: 100%; height: auto; padding: 800px 0 500px; box-sizing: border-box; background-position: 0 0; background-repeat: no-repeat; background-size: cover; background-image: url("../img/sub_view_01.jpg");
  >.one{width: 80%; height: auto; margin: auto;
    >dt{width: 120px; height: 30px; margin: auto; margin-top: 100px; background-position: 50% 50%; background-repeat: no-repeat; background-size: contain; background-image: url("../img/logo_t.png");}
    >.line{position: relative; width: 2%; height: 150px; margin: auto; margin-top: 100px;}
    >.line:after,
    >.line::after{content: " "; display: block; position: absolute; z-index: 500; right: -1; top:0; bottom: 0; width: 0; height: 0; border-right: 1px solid #fff; transition: height 700ms ease;}
    >.line.action:after,
    >.line.action::after{height: 100%;}
    >.text{display: none; width: 100%; height: auto; padding-top: 90px; box-sizing: border-box; color: #aaa; font-size: 1.1rem; line-height: 2.5; text-transform: uppercase; text-align: center; word-break: keep-all;
      >span{color: #fff; font-weight: bold;}
    }//li
  }//.one
  >.two{width: 80%; height: auto; margin: auto; margin-top: 200px;
    >li{display: none; width: 210px; height: 210px; margin: auto; margin-bottom: 50px; border-radius: 100%; border: 1px solid #fff; box-sizing: border-box; font-size: 1.2rem; line-height: 210px; text-align: center; color: #fff;}//dt
    >li:last-of-type{margin-bottom: 0;}
  }//.two
  >.three{width: 80%; height: auto; margin: auto; margin-top: 200px;
    >li{width: 100%; height: auto; margin-top: 100px; font-size: 1.2rem; color: #aaa; word-break: keep-all; line-height: 2.5; text-transform: uppercase; text-align: center;
      >span{color: #fff; font-weight: bold;}
    }//li
    >li:nth-child(1){opacity: 0; transform: translateX(-10%);}
    >li:nth-child(1).action{opacity: 1; transform: translateX(0); transition: all 2000ms ease;}
    >li:nth-child(2){opacity: 0; transform: translateX(-10%);}
    >li:nth-child(2).action{opacity: 1; transform: translateX(0); transition: all 2000ms ease;}
    >li:nth-child(3){opacity: 0; transform: translateX(-10%);}
    >li:nth-child(3).action{opacity: 1; transform: translateX(0); transition: all 2000ms ease;}
  }//>.two
  >button{display: none; position: relative; float: right; width: 65%; height: 50px; margin-top: 300px; line-height: 50px; text-align: left; background-color: transparent; font-size: 1.3rem; font-weight: bold;}
  >button:after,
  >button::after{content: " "; display: block; position: absolute; z-index: 500; left: 0; right: 0; bottom: -3; width: 0; height: 0; border-bottom: 3px solid #fff; transition: width 700ms ease;}
  >button.action:after,
  >button.action::after{width: 100%;}
}//#conBox
}//768

@media screen and (max-width:480px) {
  
@import "./_temp/h_f_m.scss";
#headBox.color{display: none; background-color: rgba(0,0,0,0.5);}

#viewBox{width: 100%; min-width: 350px; height: 250px; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; background-image: url("../img/sub_view.jpg");}
#conBox{width: 100%; height: auto; padding: 800px 0 500px; box-sizing: border-box; background-position: 0 0; background-repeat: no-repeat; background-size: cover; background-image: url("../img/sub_view_01.jpg");
  >.one{width: 80%; height: auto; margin: auto;
    >dt{width: 120px; height: 30px; margin: auto; margin-top: 100px; background-position: 50% 50%; background-repeat: no-repeat; background-size: contain; background-image: url("../img/logo_t.png");}
    >.line{position: relative; width: 2%; height: 150px; margin: auto; margin-top: 100px;}
    >.line:after,
    >.line::after{content: " "; display: block; position: absolute; z-index: 500; right: -1; top:0; bottom: 0; width: 0; height: 0; border-right: 1px solid #fff; transition: height 700ms ease;}
    >.line.action:after,
    >.line.action::after{height: 100%;}
    >.text{display: none; width: 100%; height: 300px; padding-top: 90px; box-sizing: border-box; color: #aaa; font-size: 1.1rem; line-height: 2.5; text-transform: uppercase; text-align: center; word-break: keep-all;
      >span{color: #fff; font-weight: bold;}
    }//li
  }//.one
  >.two{width: 80%; height: auto; margin: auto; margin-top: 200px;
    >li{display: none; width: 210px; height: 210px; margin: auto; margin-bottom: 50px; border-radius: 100%; border: 1px solid #fff; box-sizing: border-box; font-size: 1.2rem; line-height: 210px; text-align: center; color: #fff;}//dt
    >li:last-of-type{margin-bottom: 0;}
  }//.two
  >.three{width: 80%; height: auto; margin: auto; margin-top: 200px;
    >li{width: 100%; height: auto; margin-top: 80px; font-size: 1.2rem; color: #aaa; word-break: keep-all; line-height: 2.5; text-transform: uppercase; text-align: center;
      >span{color: #fff; font-weight: bold;}
    }//li
    >li:nth-child(1){opacity: 0; transform: translateX(-10%);}
    >li:nth-child(1).action{opacity: 1; transform: translateX(0); transition: all 2000ms ease;}
    >li:nth-child(2){opacity: 0; transform: translateX(-10%);}
    >li:nth-child(2).action{opacity: 1; transform: translateX(0); transition: all 2000ms ease;}
    >li:nth-child(3){opacity: 0; transform: translateX(-10%);}
    >li:nth-child(3).action{opacity: 1; transform: translateX(0); transition: all 2000ms ease;}
  }//>.two
  >button{display: none; position: relative; float: right; width: 70%; height: 50px; margin-top: 300px; line-height: 50px; text-align: left; background-color: transparent; font-size: 1.3rem; font-weight: bold;}
  >button:after,
  >button::after{content: " "; display: block; position: absolute; z-index: 500; left: 0; right: 0; bottom: -3; width: 0; height: 0; border-bottom: 3px solid #fff; transition: width 700ms ease;}
  >button.action:after,
  >button.action::after{width: 100%;}
}//#conBox
}//480

}//#wrap