// _site_prototype_02_1_01.scss

@import"../_temp/_head_foot.scss";


// viewBox ============================================
#viewBox{position: relative; width: 100vw; height: 100vh;
  >.scroll_bar{position: absolute; left: 0; right: 0; bottom: 160px; margin: auto; width: 600px; height: 10px; background-color: $green;
    >li{float: left; width: 200px; height: 100%; background-color: #c8c8c8;
      >a{display: block; width: 100%; height: 100%;}
      >a.action{background-color: #fff;}
    }// li
  }// .scroll_bar
  >.product{$count:4;
      width: 100% * $count; height: 100%;
    >li{float: left; width: 100% / $count; height: 100%; padding: 360px 17vw; box-sizing: border-box;
    }// li
  }// .product
  >.side_bar{position: fixed; z-index: 500; top: 0; bottom: 0; right: 8.6vw; margin: auto; width: 40px; height: 300px;
    >li{ width: 35px; height: 35px; border-radius: 35px; margin-bottom: 45px; background-color: #ccc;
      >a{position: relative; display: block; width: 100%; height: 100%; border-radius: 35px;
        >span{position: absolute; display: block; right: 50px; width: 0; height: 40px; border-radius: 10px; font-size: 1.25rem; color: #fff; text-transform: uppercase; font-weight: bold; text-align: center;  line-height: 40px; background-color: $main; overflow: hidden; transition: all 300ms ease;}
      }// a
      >a.action{background-color: #fff; box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
        >span{display: block; width: 150px;}
      }// a.action
    }// li
    >li:last-child{margin-bottom:0;}
  }// .side_bar
}// #viewBox

// conBox ============================================
#conBox{width: 100vw; height: auto;
  >article{width: 100vw; height: 100vh; padding: 20vh 17vw; box-sizing: border-box;
    >.title{width: auto; height: auto; background-color: $sample2; margin-bottom: 70px;}
  }// article
  >#brandBox{background-color: #fa0;
    >ul{width: 65.4vw; height: 26vw; background-color: $sample2;
      >li{float: left; width: 21.8vw; height: 26vw; background-color: $sample;}
    }// ul
  }// #brandBox
  >#menuBox{background-color: #faf;
    >ul{width: 100%; height: 16.6vw; background-color: $sample;}
  }// #menuBox
  >#snsBox{background-color: #fa0;
    >ul{width: auto; height: auto; background-color: $sample2;
      >li{float: left; width: 14.5vw; height: 14.5vw; margin-right: 2.6vw; background-color: $sample;}
      >li:nth-child(4){margin-right: 0;}
      >li:nth-child(8){margin-right: 0;}
    }
  }// #snsBox
}// #conBox
