/* port.css */

html, body{background-color: #fcfcfc;}
#wrap{width: 100%; height: 100%;}
#wrap a{outline: none;}

/* headBox ====================================================================== */
#headBox{position: fixed; width: 100%; min-height: 100px; height: auto; background-color: rgba(255,255,255,0.7); border-bottom: 1px solid #f2eedd;}
h1{float: left; width: 20vw; height: 50px; margin-top: 25px; margin-left: 50px;}
h1>a{display: block; width: 100%; height: 100%; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url("../../img/logo.png");}

#gnb{float: left; width: 70vw; height: 100%; margin: auto;}
#gnb>ul{width: 100%; height: auto;}
#gnb li{float: left; width: 100px; height: 100%; margin-left: 12vw;}
#gnb li>dl{width: 100%; height: auto;}
#gnb dt{width: 100%; height: 100px;}
#gnb dt>a{display: block; width: 100%; height: 100%; font-size: 20px; line-height: 100px; text-align: center; text-transform: capitalize; color: #555;}
#gnb dd{display: none; width: 100%; height: 80px;}
#gnb dd>a{display: block; width: 100%; height: 100%; font-size: 18px; line-height: 80px; text-align: center; text-transform: capitalize; color: #555;}
#gnb a.active{font-weight: bold;}

#headBox.action{background-color: rgba(242, 238, 221, 0.7);}



/* mainBox ====================================================================== */
#mainBox{width: 100%; height: 100%; margin: auto;}
.imgBox{float: left; width: 70%; height: 100%; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; background-image: url("../../img/mellow_03.jpg");}

.textBox{float: left; width: 30%; height: 100%; background-color: #fff;}
.text_area{width: 100%; height: 100%; margin: auto; padding-top: 150px; padding-left: 60px; box-sizing: border-box;}
.text_area>dt{width: auto; height: auto; font-size: 50px; text-transform: uppercase; font-weight: bold; color: #555;}
.text_area>dt>span{color: #d3c3b8;}
.text_area>dd{width: auto; height: auto; padding-top: 40px; font-size: 15px; color: #777; text-transform: capitalize;}
.text_area>dd>span{font-size: 13px;}


.webBox{float: left; width: 120px; height: 40px; margin-right: 20px; border-radius: 3px; border: 2px solid #d3c3b8; background-color: #fff;}
.webBox>a{display: block; width: 100%; height: 100%; color: #d3c3b8; text-align: center; font-size: 1.1rem; line-height: 40px; font-weight: bold; text-transform: capitalize;}
.webBox>a:hover,.webBox>a:focus{background-color: #d3c3b8; color: #fff;}

.portBox{float: left; width: 120px; height: 40px; border-radius: 3px; border: 2px solid #d3c3b8;}
.portBox>a{display: block; width: 100%; height: 100%; color: #d3c3b8; text-align: center; font-size: 1.1rem; line-height: 40px; font-weight: bold; text-transform: capitalize;}
.portBox>a:hover,.portBox>a:focus{background-color: #d3c3b8; color: #fff;}

.popup_bg{display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.3);}
.popup{position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 90%; height: 90%; padding: 50px 20px; box-sizing: border-box; background-color: #fff; overflow: hidden;}

button{position: absolute; top: 2%; right: 1%; width: 20px; height: 20px; background-color: #fff; background-position: 50% 50%; background-repeat: no-repeat; background-size: contain; background-image: url("../../img/ex.png");}
.port_area{width: 100%; height: 100%; overflow: hidden; overflow-y: scroll; padding-right: 100rem;}
.port_area>ul{width: 100%; height: 1000%;}
.port_area li{float: left; width: 50%; height: 10%; margin: auto; background-position: 50% 50%; background-repeat: no-repeat; background-size: contain;}
.scroll{position: absolute; bottom: 2%; right: 1%; width: 30px; height: 50px; background-repeat: no-repeat; background-size: contain; background-position: 50% 50%; background-image: url("../../img/arrow.png"); animation: mouseMv 700ms linear alternate infinite;}
@keyframes mouseMv {      0% {bottom: 30px;}    100%{bottom:20px; }   }
