#wrap{width: 100%; height: 100%; background-color: #fff;
#headBox{width: 100%; height: 6rem; background-color: transparent;
nav{width: 1280px; height: 100%; margin: auto; background-color: transparent;
  h1{float: left; width: 120px; height: 100%; margin-right: 70px; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url("../img/logo.png");}//h1
  .gnb{float: left; width: auto; height: 100%;
    li{float: left; width: auto; height: 100%; margin-right: 30px;
      a{display: block; width: 100%; height: 100%; font-size: 1.1rem; color: #333; line-height: 6rem; font-weight: bold;}
    }//li
  }//.gnb
  .side{float: right; width: auto; height: 100%; 
    li{float: left; width: auto; height: 100%; margin-right: 30px;
      a{display: block; width: 100%; height: 100%; font-size: 1.1rem; color: #333; line-height: 6rem; font-weight: bold;}
    }//li
  }//.side
}//nav
}//#headBox
#viewBox{width: 100%; height: 650px; background-color: transparent;
  .view_inner{width: 1280px; height: 100%; margin: auto; background-color: transparent;
    .textBox{float: left; width: 610px; height: 100%; background-color: transparent;
      h3{width: 100%; height: auto; margin-top: 130px; font-size: 3.2rem; font-weight: normal; line-height: 1.5; font-weight: 300;
        em{font-size: 3.6rem; font-style: normal; font-weight: normal;}
      }//h3
      span{display: block; width: 100%; height: auto; margin-top: 50px; font-size: 1.5rem; line-height: 1.8; font-weight: 300;}
    }//.textBox
    .imgBox{position: relative; float: right; width: 670px; height: 100%; background-color: #2a3;
      .web_img{position: absolute; left: 0; top: 0; bottom: 0; margin: auto; width: 500px; height: 400px; background-color: #912;}//.web_img
      .mob_img{position: absolute; right: 0; top: 0; width: 250px; height: 500px; background-color: #aaa;}//.mob_img
    }//.imgBox
  }//.view_inner
}//#viewBox
#conBox{width: 100%; height: auto;
  h2{width: 1280px; height: 100px; margin: auto; font-size: 3rem; text-align: center; line-height: 100px; background-color: #aaf;}
  h3{width: 1280px; height: 80px; margin: auto; font-size: 1.3rem; text-align: center; font-weight: normal; line-height: 80px; background-color: #af0;}
  #introBox{width:1280px; height: auto; margin: auto; background-color: #a15;
    .introCon{width: 100%; height: 500px; margin-top: 50px; background-color: #aaa;}
  }//#introBox
  #payBox{width: 1280px; height: auto; margin: auto; background-color: #21a;
    .payCon{width: 100%; height: 750px; margin-top: 50px; background-color: #aaa;}
  }//#payBox
  #fintechBox{width:1280px; height: auto; margin: auto; background-color: #635;
    .fintechCon{width: 100%; height: 650px; margin-top: 50px; background-color: #aaa;}
  }//#fintechBox
  #partnerBox{width:1280px; height: auto; margin: auto; background-color: #aa5;
    .partnerCon{width: 100%; height: 360px; margin-top: 50px; background-color: #aaa;}
  }//#partnerBox
  #upBox{width:1280px; height: auto; margin: auto; background-color: #aa5;
    .upCon{width: 100%; height: 1100p; margin-top: 50px; background-color: #aaa;}
  }//#upBox
  #newsBox{width:1280px; height: auto; margin: auto; background-color: #aa5;
    .newsCon{width: 100%; height: 1300p; margin-top: 50px; background-color: #aaa;}
  }//#newsBox
}//#conBox
#footBox{width: 100%; height: 200px; background-color: #333;}//#footBox

}//#wrap