/* yogurt_01_tablet_768.css */
@media screen and (min-width:481px) and (max-width:768px) {

  h2{text-align: center;}
  p{text-align: center;}
  
  
  #headBox{height: 80px; height: 5rem; padding: 20px 4vw; padding: 1.25rem 4vw; box-sizing: border-box;}

    h1{width: 70px; height: 50px;}
    
    .gnb{float: right; width: 60px; height: 60px;}

    .gnb > i {display: block; width: 100%; height: 100%; font-size: 40px; text-align: center; color: #1b398f;}

    .gnb > ul{display: none;}
  
    .fran{display: none;}

/* contentBox ================================== */
    

    
    .con{padding: 10vh 3vw;}

    .con > h2{font-size: 34px; font-size: 2.125rem;}
    .con > p{margin-top: 14px; margin-top: 0.875rem; font-size: 30px; font-size: 1.875rem;}
  
    /* view_area ============================ */
    .view_area{background-size: auto 100%; padding: 30vh 4vw; box-sizing: border-box;}


      .text_box{width: 100%; height: 250px; height: 15.625rem; text-align: center;}
      .text_box > p{height: 25px; height: 1.5625rem; font-size: 30px; font-size: 1.875rem; margin-bottom: 10px; margin-bottom: 0.625rem;}
      .text_box > h2{height: auto; font-size: 66px; font-size: 4.125rem;}
      .text_box > span{height: 25px; height: 1.5625rem; font-size: 26px; font-size: 1.625rem;}
      .line{display: none;}

      .text_box i{font-size: 38px; font-size: 2.375rem;}
    
    .scroll{width: 450px; width: 28.125rem;}
    .scroll > ul > li{width: 150px; width: 9.375rem;}

    .sidebar{height: 234px; height: 14.625rem; top: 35%; transform: translateY(-50%); right: 5.2vw; margin: auto;}
    .sidebar > ul > li{width: 24px; width: 1.5rem; height: 24px; height: 1.5rem;}
  
      /* brand_area ============================ */
      .brand_area > ul {margin-top: 10vh; width: 94.7vw; height: 83.2vw;}

      .brand_area > ul > li{width: 100%; height: 33.3333334%; }

      .brand_area > ul > li > a{background-size: 100% auto;}

      .brand_area > ul > li > a:after{background-color:rgba(51,51,51,0.6); transition: all 300ms ease;}
  
  
  
      .brand_area > ul > li .inner > div{width: 15.6vw; height: 15.6vw;}

      .brand_area > ul > li .inner dl{display: block;
       width: 68.7vw; height: 13vw; margin: auto; transform: translateY(60%);}
      .brand_area > ul > li .inner dt{position: relative; float: left; width: 120px; height: 100%;}
      .brand_area > ul > li .inner dd{position: relative; float: right; width: 120px; height: 100%;}
      .brand_area > ul > li .inner span{display: block; position: absolute; left: 0; top: 50%;
      width: 100%; height:auto; transform:translateY(-50%);}


      .brand_area > ul > li .inner dt > span{font-size: 26px; font-weight: bold; color: #fff; text-align: center;}
      .brand_area > ul > li .inner dd > span{font-size: 18px; color: #fff; text-align: center;}

  
      .brand_area > ul > li .icon_01{background-color: #A7CEF7; background-image: url("../../img/favicon.png"); background-position: 50% 50%; background-size: 100% auto;}
      .brand_area > ul > li .icon_02{background-color: #CADD90; background-image: url("../../img/spoon.png"); background-position: 50% 50%; background-size: 90% auto;}
      .brand_area > ul > li .icon_03{background-color: #294B6F; background-image: url("../../img/store_w.png"); background-position: 50% 50%; background-size: 90% auto;}
  
      
   /* menu_area ============================ */
     .menu_area{background-size: cover;}
      
      .best_area{width: 100%; height: 45.5vw; margin: 10vh 0;}
       

        .best{width: 43vw; height: 43vw; margin: auto; box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5); box-shadow: 0 0 1.25rem 0.125rem rgba(0, 0, 0, 0.5);  } 

        .menu_btn{width: 120px; width: 7.5rem; height: 30px; height: 1.875rem; left: 0; right: 0; margin: auto;}

        .menu_btn > a{font-size: 16px; font-size: 1rem; line-height: 30px; line-height: 1.875rem;}
        

      /* sns_area ============================ */
    .sns_area{background-size: auto 100%;}
    
    .sns_pic{width: 100%; height: 86vw; margin: 11.7vh 0 0 2vw;}
  
    .sns_pic > ul{width: 100%; height: 100%;}

    .sns_pic > ul > li{width: 28vw; height: 27.3vw; margin-bottom: 2vw; margin-left: 2.6vw; background-size: contain;}
  
    .sns_pic > ul > li:nth-child(1){margin-left: 0;}
    .sns_pic > ul > li:nth-child(4){ margin-left: 0;}
    .sns_pic > ul > li:nth-child(7){ margin-left: 0; margin-bottom: 0;}
    .sns_pic > ul > li:nth-child(8){ margin-bottom: 0;}
    .sns_pic > ul > li:nth-child(9){ margin-bottom: 0;}
  
    .sns_pic > ul > li > a:hover span,
    .sns_pic > ul > li > a:focus span{display: block; color: #fff; font-size: 2.6vw; text-align: center; transform: translateY(50%);}

    .sns_pic > ul > li > a:hover p,
    .sns_pic > ul > li > a:focus p{padding-top: 2vw; box-sizing: border-box; text-transform: uppercase; color: #fff; font-size: 3vw; font-weight: bold; text-align: center; transform: translateY(30%);}

    .sns_pic > ul > li > a:hover i,
    .sns_pic > ul > li > a:focus i{margin-left: 10px;}

    /* footBox ================================= */
  #footBox{height: 150px; padding: 12px 100px;}
  
  #footBox > h2{width: 74px; height: 44px;}

  .info{height: 55px;}
  
  .info > p{line-height: 20px; font-size: 14px;}

  .sns_logo{width: 84px; height: 27px; margin-top: 10px; background-size: 100px; background-position: -10px -10px;}

}