@charset "UTF-8";
/* site_prototype.css */

/* common */
.clearfix:after,
.clearfix::after{content:" "; display: block; clear: both; width: 0; height: 0; }

.hidden{display: block; overflow: hidden; position: absolute; width: 0; height: 0; }

/* layout */
#wrap{width: 1340px; height: 3610px; background-color: #0af;}

#headBox{width: 100%; height: 105px; background-color: #fff;}
  h1{width: 133px; height: 24px; background-color: #fac;}
  .nav{width: 756px; height: 24px; background-color: #fac;}
  .login{width: 120px; height: 24px; background-color: #fac;}

#conBox{width:100%; height: 3150px; background-color: #ff8;}

  #conBox h3{width: 100%; height: 57px; background-color: #aaf;}

  .view_area{width: 100%; height: 666px; background-color: #aaa;}
    h3{width: 580px; height: 76px; background-color: #aaf;}
    .view_area > p{width: 293px; height: 68px; background-color: #aaf;}
    .pic{width: 666px; height: 666px;  background-color: #ffa;}

  .new_area{width: 100%; height: 987px; background-color: #fff;}
    h4{width: 88px; height: 19px; background-color: #aaf;}
    .new_area .content{width: 540px; height: 432px; background-color: #eee;}
    .pic_01{width: 265px; height: 326px; background-color: #ffa;}
    .pic_02{width: 510px; height: 510px; background-color: #ffa;}
    .pic_03{width: 303px; height: 267px; background-color: #ffa;}
    .pic_04{width: 545px; height: 286px; background-color: #ffa;}

  .best_area{width: 100%; height: 775px; background-color: #bbb;}

    .best_area .content{width: 935px; height: 472px; background-color: #aaf;}
    .best_area .pic{width: 472px; height: 472px; background-color: #ffa;}
    .best_area .text_box{width: 288px; height: 144px; background-color: #fff;}

  .event_area{width: 100%; height: 722px; background-color: #555;}
    .event_area .pic{width: 298px; height: 460px; background-color: #aaf;}

#footBox{width: 100%; height: 350px;}
  .info{width: 100%; height: 240px; background-color: #eee;}
  .icon{width: 100%; height: 110px; background-color: #bdbcbc;}