// sub_04_768.scss

@media screen and (max-width:768px) and (min-width:481px) {

  @import "../_h_f/h_f_m";


  #viewBox{width: 100%; height: 15.625rem; background-image: url("../../../img/notice_view.jpg"); background-repeat: no-repeat; background-size: 100%; background-position: 0 0; background-attachment: fixed;
    h2{width: 100%; height: 100%; text-align: center; font-size: 1.8rem; line-height: 20.625rem; color: #fff; text-transform: uppercase; text-shadow: 0.1875rem 0.1875rem 0.1875rem rgba(51, 51, 51, 0.5);}
  }

  #contentBox{width: 29.375rem; height:auto; margin: auto; margin-bottom: 10rem; background-color: $bg;
    >.notice_box{width: 100%; height: auto;
      >.list_box{width: 100%; height: auto; margin-top: 10rem; 
        >dl{width: 100%; height: auto;
          >dt{width: 100%; height: 60px; padding: 0 2rem; box-sizing: border-box; line-height: 60px; border-top: 1px solid #ddd; font-size: 1.2rem; text-transform: uppercase;
            >a{display: block; width: 100%; height: 100%; color: $textem; outline: none;}
          }// dt
          >dd{display: none; width: 100%; height: auto; padding: 3rem 2rem; box-sizing: border-box; border-top: 1px solid #ddd; font-size: 1rem; color: $text; line-height: 1.5; background-color: $listbg;
            >span{display: block; font-size: 0.9rem; padding-top: 3rem; box-sizing: border-box;}
          }// dd
        }// dl
        >dl:last-of-type{
          > dt{border-bottom: 1px solid #ddd;}
          > dd{border-bottom: 1px solid #ddd;}
        }// dl:last-of-type
      }// .list_box
      >.list_box:after{content: " "; display: block; width: 0; height: 0; clear: both;}
    }// .menu_box
    .top_btn{position: fixed; z-index: 300; bottom: 10%; right: 5%; width: 2.5rem; height: 2.5rem;
      >button{display: none; width: 100%; height: 100%; background-color: #fff; border: 0.125rem solid $main; border-radius: 100%; color: $main; font-weight: bold; text-transform: uppercase; line-height: 2.3125rem; text-align: center;}
      >button:hover,>button:focus{background-color: $main; color: #fff;}
    }// .top_btn
  }// #contentBox
}