#wrap { width: 100%; height: 100%; background-color: #FFFFF8; }

#headBox { position: fixed; z-index: 500; width: 100%; height: 100px; padding: 2.1875rem 2rem; box-sizing: border-box; background-color: #fff; }

#headBox > h1 { float: left; width: 130px; height: 30px; }

#headBox > h1 > a { display: block; width: 100%; height: 100%; background-image: url("../../img/logo.png"); background-repeat: no-repeat; background-size: contain; background-position: 50% 50%; }

#headBox > .menu { float: right; width: 30px; height: 30px; }

#headBox > .menu > .bar { width: 100%; height: 100%; }

#headBox > .menu > .bar > a { display: block; width: 100%; height: 100%; background-image: url("../../img/bar.png"); background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; }

#headBox > .menu > .bar_bg { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(100, 100, 100, 0.5); }

#headBox > .menu > .bar_bg > .bar_view { position: absolute; top: 0; right: 0; width: 400px; height: 100%; background-color: rgba(255, 255, 255, 0.95); }

#headBox > .menu > .bar_bg > .bar_view > .ex { position: absolute; top: 4%; right: 8%; width: 25px; height: 25px; }

#headBox > .menu > .bar_bg > .bar_view > .ex > a { display: block; width: 100%; height: 100%; background-position: 50% 50%; background-size: contain; background-repeat: no-repeat; background-image: url("../../img/ex.png"); }

#headBox > .menu > .bar_bg > .bar_view > .bar_list { width: 100%; height: auto; padding: 6rem 3rem; box-sizing: border-box; }

#headBox > .menu > .bar_bg > .bar_view > .bar_list > dl { width: 100%; height: auto; }

#headBox > .menu > .bar_bg > .bar_view > .bar_list > dl > dt { width: 100%; height: 50px; line-height: 50px; font-size: 1.3rem; }

#headBox > .menu > .bar_bg > .bar_view > .bar_list > dl > dt > a { display: block; width: 100%; height: 100%; color: #777; }

#headBox > .menu > .bar_bg > .bar_view > .bar_list > dl > dt > a > i { display: inline-block; width: 10px; height: 10px; margin-left: 5px; background-position: 50% 50%; background-size: contain; background-repeat: no-repeat; background-image: url("../../img/low.png"); }

#headBox > .menu > .bar_bg > .bar_view > .bar_list > dl > dt.action i { transform-origin: center; transform: rotateZ(180deg); }

#headBox > .menu > .bar_bg > .bar_view > .bar_list > dl > dd { display: none; width: 100%; height: 40px; line-height: 40px; font-size: 1rem; }

#headBox > .menu > .bar_bg > .bar_view > .bar_list > dl > dd > a { display: block; width: 100%; height: 100%; color: #777; }

#headBox > .menu > .bar_bg > .bar_view > .bar_list > ul { width: 100%; height: auto; }

#headBox > .menu > .bar_bg > .bar_view > .bar_list > ul > li { float: left; width: auto; height: auto; margin-top: 5rem; margin-right: 3rem; }

#headBox > .menu > .bar_bg > .bar_view > .bar_list > ul > li > a { display: block; width: 100%; height: 100%; color: #333; font-size: 1.2rem; text-transform: uppercase; }

#headBox > .menu > .bar_bg > .bar_view > .bar_list > ul > li:last-child { margin-right: 0; }

#viewBox { position: relative; width: 100%; height: 100%; padding-top: 100px; box-sizing: border-box; overflow: hidden; }

#viewBox > .indicator { position: absolute; z-index: 100; width: 1000px; height: 20px; left: 0; right: 0; bottom: 5%; margin: auto; }

#viewBox > .indicator > ul { float: right; }

#viewBox > .indicator > ul > li { float: left; width: 20px; height: 20px; margin-right: 15px; border-radius: 100%; background-color: #999; }

#viewBox > .indicator > ul > li > a { display: block; width: 100%; height: 100%; }

#viewBox > .indicator > ul > li:last-child { margin-right: 0; }

#viewBox > .indicator > ul > li.active { background-color: #f3cf1d; }

#viewBox > .product { position: absolute; width: 500%; height: 100%; }

#viewBox > .product > li { float: left; width: 20%; height: 100%; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; background-color: #fa0; }

#viewBox > .product > .slide_01 { position: relative; background-image: url("../../img/goodplace.png"); }

#viewBox > .product > .slide_01 > .text { position: absolute; top: 50%; transform: translateY(-50%); left: 0; right: 0; margin: auto; width: 1000px; height: auto; }

#viewBox > .product > .slide_01 > .text > h3 { width: 100%; text-align: right; font-size: 5rem; text-transform: capitalize; }

#viewBox > .product > .slide_01 > .text > em { display: block; width: 100%; padding: 2rem 0 0.8rem; box-sizing: border-box; text-align: right; font-size: 1.3rem; font-style: normal; color: #777; }

#viewBox > .product > .slide_01 > .text > span { display: block; width: 100%; text-align: right; color: #777; line-height: 1.1; font-size: 1.1rem; }

#viewBox > .product > .slide_02 { background-image: url("../../img/view_02.png"); }

#viewBox > .product > .slide_03 { position: relative; background-image: url("../../img/view_03.png"); }

#viewBox > .product > .slide_03 > .text { position: absolute; top: 15%; left: 0; right: 0; margin: auto; width: 550px; height: 550px; border: 10px solid #fff; }

#viewBox > .product > .slide_03 > .text > h3 { width: 100%; height: 210px; padding-top: 100px; box-sizing: border-box; text-align: center; font-size: 5rem; text-transform: capitalize; color: #fff; }

#viewBox > .product > .slide_03 > .text > p { display: block; width: 100%; height: 20px; margin-bottom: 100px; text-align: center; font-size: 1.5rem; color: #fff; font-style: italic; }

#viewBox > .product > .slide_03 > .text > span { display: block; width: 100%; height: auto; padding-left: 50px; margin-top: 100px; box-sizing: border-box; text-align: left; color: #f3cf1d; font-weight: bold; line-height: 1.1; font-size: 1.5rem; }

#viewBox > .product > .slide_03 > .side_text { position: absolute; top: 10%; right: 20%; width: 100px; height: 100px; border-radius: 100%; background-color: #f3cf1d; }

#viewBox > .product > .slide_03 > .side_text > span { display: block; width: auto; height: 100px; padding-top: 14px; box-sizing: border-box; color: #fff; font-size: 1rem; text-transform: capitalize; font-weight: bold; text-align: center; line-height: 1.1; }

#viewBox > .product > .slide_03 > .side_text > span > em { font-size: 2.5rem; font-style: normal; }

#viewBox > .product > .slide_04 { background-image: url("../../img/view_04.jpg"); }

#viewBox > .product > .slide_04 > .text { width: 1000px; height: 100%; margin: auto; padding: 200px 30px; }

#viewBox > .product > .slide_04 > .text > em { display: block; width: 100%; height: auto; font-size: 1.2rem; font-style: normal; color: #333; font-weight: bold; }

#viewBox > .product > .slide_04 > .text > h3 { width: 100%; height: 200px; font-size: 5rem; text-transform: uppercase; color: #333; }

#viewBox > .product > .slide_04 > .text > h3 > p { color: #f30; }

#viewBox > .product > .slide_04 > .text > span { display: block; width: 100%; margin-top: 250px; color: #333; font-size: 1.6rem; text-transform: uppercase; font-weight: bold; }

#viewBox > .side_bar { position: fixed; top: 50%; transform: translateY(-50%); right: 5%; width: 30px; height: 140px; }

#viewBox > .side_bar > li { width: 30px; height: 30px; margin-bottom: 25px; }

#viewBox > .side_bar > li > a { display: block; width: 100%; height: 100%; background-repeat: no-repeat; background-size: contain; background-position: 50% 50%; background-image: url("../../img/bag.png"); }

#viewBox > .side_bar > li:nth-child(2) > a { background-image: url("../../img/search.png"); }

#viewBox > .side_bar > li:nth-child(3) { margin-right: 0; }

#viewBox > .side_bar > li:nth-child(3) > a { background-image: url("../../img/chatting.png"); }

#conBox { width: 100%; height: auto; margin: auto; background-color: #fff; }

#conBox h2 { width: 100%; height: auto; margin-bottom: 100px; font-size: 3rem; text-align: center; text-transform: uppercase; }

#conBox #newBox { width: 100%; height: auto; padding-top: 100px; box-sizing: border-box; }

#conBox #newBox > .new_bg { position: relative; width: 1000px; height: 880px; margin: auto; }

#conBox #newBox > .new_bg > h2 { position: absolute; z-index: 25; width: 50%; padding-top: 30px; text-align: center; margin-bottom: 40px; }

#conBox #newBox > .new_bg > .h2_bg { position: absolute; z-index: 20; top: -45px; left: 10px; width: 50%; height: 200px; background-position: 50% 50%; background-repeat: no-repeat; background-size: contain; background-image: url("../../img/text_bg.png"); }

#conBox #newBox > .new_bg > h3 { width: 50%; height: auto; padding-top: 8rem; box-sizing: border-box; text-align: center; font-size: 1.1rem; text-transform: capitalize; color: #777; font-weight: normal; }

#conBox #newBox > .new_bg > h3 > em { font-size: 2rem; font-style: normal; color: #333; font-weight: bold; }

#conBox #newBox > .new_bg > .img { background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; }

#conBox #newBox > .new_bg > .img_01 { position: absolute; z-index: 10; top: 25%; left: 9%; width: 300px; height: 350px; background-image: url("../../img/mellow/mellow_01.jpg"); }

#conBox #newBox > .new_bg > .img_02 { position: absolute; z-index: 10; top: 0; right: 0; width: 510px; height: 510px; background-image: url("../../img/mellow/mellow_02.jpg"); }

#conBox #newBox > .new_bg > .img_03 { position: absolute; z-index: 10; bottom: 0; left: 0; width: 320px; height: 280px; background-image: url("../../img/mellow/mellow_03.jpg"); }

#conBox #newBox > .new_bg > .img_04 { position: absolute; z-index: 10; bottom: 0; right: 0; width: 560px; height: 300px; background-image: url("../../img/mellow/mellow_04.jpg"); }

#conBox #newBox > .new_bg > .img_bg { position: absolute; z-index: 1; bottom: 0; left: 0; width: 550px; height: 430px; background-color: #dfdfdf; }

#conBox #newBox > .new_bg > .img > a { display: block; width: 100%; height: 100%; }

#conBox #newBox > .new_bg > .img:hover, #conBox #newBox > .new_bg .img:focus { transform-origin: 50% 50%; transform: scale(1.1); transition: all 400ms ease; }

#conBox #newBox > .new_bg > .img_01:hover, #conBox #newBox > .new_bg .img_01:focus { background-image: url("../../img/mellow/mellow_01.png"); }

#conBox #newBox > .new_bg > .img_02:hover, #conBox #newBox > .new_bg .img_02:focus { background-image: url("../../img/mellow/mellow_02.png"); }

#conBox #newBox > .new_bg > .img_03:hover, #conBox #newBox > .new_bg .img_03:focus { background-image: url("../../img/mellow/mellow_03.png"); }

#conBox #newBox > .new_bg > .img_04:hover, #conBox #newBox > .new_bg .img_04:focus { background-image: url("../../img/mellow/mellow_04.png"); }

#conBox #bestBox { width: 100%; height: auto; }

#conBox #bestBox > .best_bg { position: relative; width: 1000px; padding: 100px 0; box-sizing: border-box; height: auto; margin: auto; }

#conBox #bestBox > .best_bg > h2 { position: relative; z-index: 10; }

#conBox #bestBox > .best_bg > .best_area { position: relative; z-index: 10; width: 100%; height: 470px; }

#conBox #bestBox > .best_bg > .best_area > .pic_area { float: left; width: 50%; height: 100%; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; background-image: url("../../img/patio.png"); }

#conBox #bestBox > .best_bg > .best_area > .pic_area > .circle { width: 380px; height: 380px; border-radius: 100%; }

#conBox #bestBox > .best_bg > .best_area > .text_area { position: relative; float: left; width: 50%; height: 100%; background-color: #f3cf1d; }

#conBox #bestBox > .best_bg > .best_area > .text_area > .text_box_b { position: absolute; z-index: 11; bottom: 8%; left: 8%; width: 285px; height: 140px; border: 1px solid #fff; background-color: inherit; }

#conBox #bestBox > .best_bg > .best_area > .text_area > .text_box_b > .text_box { position: absolute; z-index: 12; width: 275px; height: 130px; left: 0; right: 0; top: 0; bottom: 0; margin: auto; padding-left: 0.7rem; box-sizing: border-box; background-color: #fff; }

#conBox #bestBox > .best_bg > .best_area > .text_area > .text_box_b > .text_box > span { display: block; width: auto; height: auto; padding-top: 20px; box-sizing: border-box; color: #777; text-transform: capitalize; font-size: 1rem; }

#conBox #bestBox > .best_bg > .best_area > .text_area > .text_box_b > .text_box > span > em { font-style: normal; text-transform: uppercase; font-size: 1.3rem; }

#conBox #bestBox > .best_bg > .best_area > .text_area > .text_box_b > .text_box > h3 { display: block; width: auto; height: auto; padding-top: 0.5rem; box-sizing: border-box; color: #333; text-transform: capitalize; font-size: 1.7rem; }

#conBox #bestBox > .best_bg > .best_area > .text_area > .text_box_b > .text_box > h3 > em { font-style: normal; text-transform: uppercase; font-size: 2.2rem; }

#conBox #bestBox > .best_bg > .best_area > .text_area > .best_indi { position: absolute; z-index: 2; bottom: 8%; right: 8%; width: 85px; height: 15px; background-color: inherit; }

#conBox #bestBox > .best_bg > .best_area > .text_area > .best_indi > button { width: 15px; height: 100%; background-repeat: no-repeat; background-size: contain; background-position: 50% 50%; background-color: inherit; }

#conBox #bestBox > .best_bg > .best_area > .text_area > .best_indi > .prev { float: left; background-image: url("../../img/prev.png"); }

#conBox #bestBox > .best_bg > .best_area > .text_area > .best_indi > .center { float: right; width: 15px; height: 13px; margin: 1px 20px; background-repeat: no-repeat; background-size: contain; background-position: 50% 50%; background-image: url("../../img/center.png"); }

#conBox #bestBox > .best_bg > .best_area > .text_area > .best_indi > .next { float: right; background-image: url("../../img/next.png"); }

#conBox #bestBox > .best_bg > .best_line { position: absolute; z-index: 0; top: 0; left: 0; width: 550px; height: 100%; }

#conBox #bestBox > .best_bg > .best_line > li { float: left; width: 110px; height: 100%; border-left: 1px solid #efefef; box-sizing: border-box; }

#conBox #bestBox > .best_bg > .best_line > li:last-child { border-right: 1px solid #efefef; }

#conBox #eventBox { width: 100%; height: auto; padding: 100px 0; box-sizing: border-box; background-color: #efefef; }

#conBox #eventBox > .event_bg { width: 1000px; height: auto; margin: auto; }

#conBox #eventBox > .event_bg > .event_area { width: 100%; height: auto; }

#conBox #eventBox > .event_bg > .event_area > ul { float: left; width: 320px; height: 500px; margin-right: 20px; }

#conBox #eventBox > .event_bg > .event_area > ul > .pic { width: 100%; height: 430px; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }

#conBox #eventBox > .event_bg > .event_area > ul > .pic_01 { background-image: url("../../img/milli.jpg"); }

#conBox #eventBox > .event_bg > .event_area > ul > .pic_02 { background-image: url("../../img/wonderland.jpg"); }

#conBox #eventBox > .event_bg > .event_area > ul > .pic_03 { background-image: url("../../img/matia.jpg"); }

#conBox #eventBox > .event_bg > .event_area > ul > .text { width: 100%; height: 70px; padding: 0.9rem 0; box-sizing: border-box; background-color: #fff; }

#conBox #eventBox > .event_bg > .event_area > ul > .text > h3 { width: 100%; color: #333; font-size: 1rem; text-transform: uppercase; text-align: center; }

#conBox #eventBox > .event_bg > .event_area > ul > .text > p { display: block; width: 100%; height: auto; color: #777; text-align: center; }

#conBox #eventBox > .event_bg > .event_area > ul > .text > p > a { display: block; width: 100%; height: 100%; }

#conBox #eventBox > .event_bg > .event_area > ul > .text > p > a > i { display: inline-block; width: 8px; height: 8px; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url("../../img/next.png"); }

#conBox #eventBox > .event_bg > .event_area > ul:last-child { margin-right: 0; }

#conBox #eventBox > .event_bg > .event_area::after { content: " "; display: block; width: 0; height: 0; clear: both; }

#footBox { width: 100%; height: auto; }

#footBox > .info_area { width: 100%; height: 240px; padding: 2rem 7rem; box-sizing: border-box; background-color: #fff; }

#footBox > .info_area > li:first-child { float: left; width: auto; height: auto; }

#footBox > .info_area > li:first-child > dl { width: 100%; height: 100%; }

#footBox > .info_area > li:first-child > dl > dt { width: 220px; height: 20px; padding: 0.8rem 0; margin-bottom: 0.8rem; border-bottom: 1px solid #999; font-size: 1.1rem; color: #333; }

#footBox > .info_area > li:first-child > dl > dd { font-size: 0.8rem; width: auto; height: auto; line-height: 1.8; color: #777; }

#footBox > .info_area > li:last-child { float: right; width: auto; height: auto; }

#footBox > .info_area > li:last-child > dl { width: 100%; height: 100%; }

#footBox > .info_area > li:last-child > dl > dt { width: 700px; height: 20px; padding: 0.8rem 0; margin-bottom: 0.8rem; border-bottom: 1px solid #999; font-size: 1rem; }

#footBox > .info_area > li:last-child > dl > dt > a { display: block; float: left; width: auto; height: 100%; margin-right: 10px; font-size: 0.9rem; color: #333; }

#footBox > .info_area > li:last-child > dl > dd { float: left; font-size: 0.8rem; width: auto; height: auto; line-height: 1.8; color: #777; }

#footBox > .info_area > li:last-child > dl > dd:last-child { float: right; }

#footBox > .logo_area { width: 100%; height: 90px; padding: 2rem 7rem; box-sizing: border-box; background-color: #efefef; }

#footBox > .logo_area > ul:first-child { float: left; }

#footBox > .logo_area > ul:first-child > li { float: left; width: 120px; height: 25px; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url("../../img/logo.png"); }

#footBox > .logo_area > ul:first-child > li:last-child { float: left; width: 65px; margin-left: 2rem; background-image: url("../../img/clab_logo.gif"); }

#footBox > .logo_area > ul:last-child { float: right; }

#footBox > .logo_area > ul:last-child > li { float: left; width: 25px; height: 25px; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url("../../img/insta.png"); margin-right: 0.6rem; }

#footBox > .logo_area > ul:last-child > li:nth-child(2) { background-image: url("../../img/facebook.png"); }

#footBox > .logo_area > ul:last-child > li:nth-child(3) { background-image: url("../../img/youtube.png"); margin-right: 0; }
