// _sub_01_970.scss

@media screen and (max-width:970px) and (min-width:769px) {

  @import "../_h_f/h_f_970";


  #viewBox{width: 100%; height: 15.625rem; background-image: url("../../../img/main_view_01.jpg"); background-repeat: no-repeat; background-size: 100%; background-position: 0 0; background-attachment: fixed;
    h2{width: 100%; height: 100%; text-align: center; font-size: 1.8rem; line-height: 20.625rem; color: #fff; text-shadow: 0.1875rem 0.1875rem 0.1875rem rgba(51, 51, 51, 0.5);}
  }

  #contentBox{width: 43.75rem; height: auto; padding: 12.5rem 0; margin: auto; box-sizing: border-box; word-break: keep-all; background-color: $bg;
    .conbox{position: relative; padding-bottom: 10rem;}
    .conbox::before{content: " "; display: block; position: absolute; z-index: 100; width: 6.25rem; height: auto; margin: auto; border-bottom: 0.125rem solid #ccc; box-sizing: border-box; bottom: 0; left: 50%; transform: translateX(-50%);}
    .greekBox{width: 100%; height: auto;
      >dl{width: 100%; height: auto; text-align: center;
        >dt{position: relative; z-index: 1; width: 100%; height: 3.125rem; font-size: 1.8rem; text-align: center; font-weight: bold; color: $main;}
        >dt::before{content: " "; display: block; position: absolute; z-index: -1; top: 33%; left: 50%; transform: translateX(-46%); width: 10rem; height: 30%; background-color: rgba(200, 200, 200, 0.5)}
        >dd{width: 100%; height: auto; padding-top: 5rem; box-sizing: border-box; line-height: 3.125rem; font-size: 1.25rem; color: $text;
          >span{color: $textem;}
        }// dd
        >p{display: block; width: 100%; height: auto; margin-top: 3.125rem; line-height: 1.875rem; font-size: 1.1rem; color: $text;}
      }// dl
    }// .greekBox
    .vsBox{width: 79.5vw; height: auto; margin: auto;
      >li{float: left; width: 26.5vw; height: 100%; margin-top: 10rem;
        >dl{width: 100%; height: auto;
          >dt{width: 8.125rem; height: 8.125rem; border-radius: 100%; background-color: #ccc; margin: auto;
            >span{display: block; width: 100%; height: 100%; font-size: 1.4rem; font-weight: bold; text-align: center; transform: translateY(35%); color: $textem;}
          }// dt
          >dd{width: 100%; height: 18.75rem; margin-top: 6.25rem; font-size: 1.2rem; line-height: 3.125rem; text-align: center; color: $text;}
        }// dl
        >p{width: 100%; height: 9.375rem; font-size: 2rem; font-weight: bold; text-align: center; transform: translateY(40%); color: $textem;}
      }// li
      >li:last-child > dl{
        >dt{background-color: #B0D6FD;
          >span{color: $main;}
        }// dt
        >dd{color: $textem;}
      }// li:last-child
    }// .vsBox
    .vsBox::after{content: " "; display: block; width: 0; height: 0; clear: both;}

    .iconBox{width: 80%; height: auto; margin: auto;
      >li{width: 100%; min-width: 38.125rem; height: 8.75rem; margin-top: 10rem; margin-bottom: 6.25rem; background-color: transparent;
        >dl{
          >div{float: left; width: 6.25rem; height: 6.25rem; margin-right: 5rem; margin-top: 1.25rem; border-radius: 100%; background-position: 50% 50%; background-repeat: no-repeat; background-size: 80%;}
          >dt{width: 100%; height: 5rem; font-size: 1.5625rem; font-weight: bold; color: $textem; line-height: 5rem;}
          >dd{width: 100%; height: 3.75rem; font-size: 1.125rem; color: $text;}
          >.icon_01{background-color: $main; background-image: url("../../../img/protein_w.png");}
          >.icon_02{border: 0.125rem solid #3B2A22; background-color: #fff; background-image: url("../../../img/probio.png");}
          >.icon_03{border: 0.125rem solid #DC6129; background-color: #fff; background-image: url("../../../img/vitamin_c.png");}
          >.icon_04{background-color: #8D418C; background-image: url("../../../img/iodine_w.png"); background-size: 22%;}
          >.icon_05{border: 0.125rem solid $main; background-color: #fff; background-image: url("../../../img/calcium_b.png");}
        }// dl  
      }// li
      >p{display: block; width: 100%; min-width: 38.125rem; height: 1.875rem; font-size: 1.1rem; color: $text;}
    }// .iconBox
    .careBox{width: 100%; height: auto;
      >dl{width: 100%; height: auto; margin-top: 10rem; text-align: center;
        >dt{position: relative; z-index: 1; width: 100%; height: 3.125rem; font-size: 1.875rem; text-align: center; font-weight: bold; color: $main;}
        >dt::before{content: " "; display: block; position: absolute; z-index: -1; top: 35%; left: 50%; transform: translateX(-45%); width: 15.625rem; height: 30%; background-color: rgba(200, 200, 200, 0.5)}
        >dd{width: 100%; min-width: 38.125rem; height: auto; padding-top: 5rem; box-sizing: border-box; line-height: 3.125rem; font-size: 1.25rem; color: $text;
          >em{color: $textem; font-style: normal;}
        }//dd
      }// dl
    }// .careBox
    .top_btn{position: fixed; z-index: 300; bottom: 10%; right: 5%; width: 2.5rem; height: 2.5rem;
      >button{width: 100%; height: 100%; padding: 0; background-color: #fff; border: 0.125rem solid $main; border-radius: 100%; font-size: 0.8rem; color: $main; font-weight: bold; text-transform: uppercase; line-height: 2.3125rem; text-align: center;}
      >button:hover,>button:focus{background-color: $main; color: #fff;}
    }// .top_btn
  }// #contentBox
  
}