
@import "../_basic/var";

#wrap{width: 100%; height: 100%; background-color: $bg;}// #wrap
#headBox{position: fixed; z-index: 500; width: 100%; height: 100px; padding: 2.1875rem 2rem; box-sizing: border-box; background-color: #fff;
  >h1{float: left; width: 130px; height: 30px;
    >a{display: block; width: 100%; height: 100%; background-image: url("../../img/logo.png"); background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;}
  }// h1
  >.menu{float: right; width: 30px; height: 30px;
    >.bar{width: 100%; height: 100%;
      >a{display: block; width: 100%; height: 100%; background-image: url("../../img/bar.png"); background-repeat: no-repeat; background-position: 50% 50%; background-size: contain;}
    }// .bar
    >.bar_bg{display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: $listbg;
      >.bar_view{position: absolute; top: 0; right: 0; width: 400px; height: 100%; background-color: rgba(255, 255, 255, 0.95);
        >.ex{position: absolute; top: 4%; right: 8%; width: 25px; height: 25px;
          >a{display: block; width: 100%; height: 100%; background-position: 50% 50%; background-size: contain; background-repeat: no-repeat; background-image: url("../../img/ex.png");}// a
        }//.ex
        >.bar_list{width: 100%; height: auto; padding: 6rem 3rem; box-sizing: border-box;
          >dl{width: 100%; height: auto;
            >dt{width: 100%; height: 50px; line-height: 50px; font-size: 1.3rem; 
              >a{display: block; width: 100%; height: 100%; color: $text;
                >i{display: inline-block; width: 10px; height: 10px; margin-left: 5px; background-position: 50% 50%; background-size: contain; background-repeat: no-repeat; background-image: url("../../img/low.png");}
              }// a
            }// dt
            >dt.action i{transform-origin: center; transform: rotateZ(180deg);}
            >dd{display: none; width: 100%; height: 40px; line-height: 40px; font-size: 1rem;
              >a{display: block; width: 100%; height: 100%; color: $text;}
            }// dd
          }// dl
          >ul{width: 100%; height: auto;
            >li{float: left; width: auto; height: auto; margin-top: 5rem; margin-right: 3rem;
              >a{display: block; width: 100%; height: 100%; color: $textem; font-size: 1.2rem; text-transform: uppercase;}
            }// li
            >li:last-child{margin-right: 0;}
          }// ul
        }// .bar_list
      }// .bar_view
    }// .bar_bg
  }// .menu
}// #headBox
// #viewBox ===================================================================================
#viewBox{position: relative; width: 100%; height: 100%; padding-top: 100px; box-sizing: border-box; overflow: hidden;
  >.indicator{position: absolute; z-index: 100; width: 1000px; height: 20px; left: 0; right: 0; bottom: 5%; margin: auto;
    >ul{float: right; 
      >li{float: left; width: 20px; height: 20px; margin-right: 15px; border-radius: 100%; background-color: #999;
        >a{display: block; width: 100%; height: 100%;}
      }// li
      >li:last-child{margin-right: 0;}
      >li.active{background-color: $main;}
    }// ul
  }// .indicator
  >.product{position: absolute; width: 500%; height: 100%;
    >li{float: left; width: 20%; height: 100%; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; background-color: #fa0;}
    >.slide_01{position: relative; background-image: url("../../img/goodplace.png");
      >.text{position: absolute; top: 50%; transform: translateY(-50%); left: 0; right: 0; margin: auto; width: 1000px; height: auto;
        >h3{width: 100%; text-align: right; font-size: 5rem; text-transform: capitalize;}
        >em{display: block; width: 100%; padding: 2rem 0 0.8rem; box-sizing: border-box; text-align: right; font-size: 1.3rem; font-style: normal; color: $text;}
        >span{display: block; width: 100%; text-align: right; color: $text; line-height: 1.1; font-size: 1.1rem;}
      }// .text  
    }// .slide_01
  }// .product
  >.side_bar{position: fixed; top: 50%; transform: translateY(-50%); right: 5%; width: 30px; height: 140px;
    >li{width: 30px; height: 30px; margin-bottom: 25px;
      >a{display: block; width: 100%; height: 100%; background-repeat: no-repeat; background-size: contain; background-position: 50% 50%; background-image: url("../../img/bag.png");}
    }// li
    >li:nth-child(2)>a{background-image: url("../../img/search.png");}
    >li:nth-child(3){margin-right: 0;
      >a{background-image: url("../../img/chatting.png");}
    }
  }// .side_bar
}// #viewBox
// #conBox ===================================================================================
#conBox{width: 100%; height: auto; margin: auto; background-color: #fff;
    h2{width: 100%; height: auto; margin-bottom: 100px; font-size: 3rem; text-align: center; text-transform: uppercase;}
  #newBox{width: 100%; height: auto; padding-top: 100px; box-sizing: border-box;
    >.new_bg{position: relative; width: 1000px; height: 880px; margin: auto;
      >h2{position: absolute; z-index: 25; width: 50%; padding-top:30px; text-align: center; margin-bottom: 40px;}
      >.h2_bg{position: absolute; z-index: 20; top: -45px; left: 10px; width: 50%; height: 200px; background-position: 50% 50%; background-repeat: no-repeat; background-size: contain; background-image: url("../../img/text_bg.png");}
      >h3{width: 50%; height: auto; padding-top: 8rem; box-sizing: border-box; text-align: center; font-size: 1.1rem; text-transform: capitalize; color: $text; font-weight: normal;
        >em{font-size: 2rem; font-style: normal; color: $textem; font-weight: bold;}
      }// h3
      >div{background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;}
      >.img_01{position: absolute; z-index: 10; top: 25%; left: 25%; transform: translateX(-50%); width: 300px; height: 350px;  background-color: #faf; background-image: url("../../img/mellow/mellow_01.jpg");}
      >.img_02{position: absolute; z-index: 10; top: 0; right: 0; width: 510px; height: 510px; background-image: url("../../img/mellow/mellow_02.jpg");}
      >.img_03{position: absolute; z-index: 10; bottom: 0; left: 0; width: 320px; height: 280px; background-image: url("../../img/mellow/mellow_03.jpg");}
      >.img_04{position: absolute; z-index: 10; bottom: 0; right: 0; width: 560px; height: 300px; background-image: url("../../img/mellow/mellow_04.jpg");}
      >.img_bg{position: absolute; z-index: 1; bottom: 0; left: 0; width: 550px; height: 430px; background-color: #dfdfdf;}
    }// .new_bg
  }// #newBox
  #bestBox{width: 100%; height: auto;
    >.best_bg{position: relative; width: 1000px; padding: 100px 0; box-sizing: border-box; height: auto; margin: auto;
    >h2{position: relative; z-index: 10;}
    >.best_area{position: relative; z-index: 10; width: 100%; height: 470px;
      >.pic_area{float: left; width: 50%; height: 100%; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; background-image: url("../../img/patio.png");
        >.circle{width: 380px; height: 380px; border-radius: 100%; }
      }// .pic_area
      >.text_area{position: relative; float: left; width: 50%; height: 100%; background-color: $main;
        >.text_box_b{position: absolute; z-index: 11; bottom: 8%; left: 8%; width: 285px; height: 140px; border: 1px solid #fff; background-color: inherit;
          >.text_box{position: absolute; z-index: 12; width: 275px; height: 130px; left: 0; right: 0; top: 0; bottom: 0; margin: auto; padding-left: 0.7rem; box-sizing: border-box; background-color: #fff;
            >span{display: block; width: auto; height: auto; padding-top: 20px; box-sizing: border-box; color: $text; 
            text-transform: capitalize; font-size: 1rem;
              >em{font-style: normal; text-transform: uppercase; font-size: 1.3rem;}
            }//span
            >h3{display: block; width: auto; height: auto; padding-top: 0.5rem; box-sizing: border-box; color: $textem; text-transform: capitalize; font-size: 1.7rem;
              >em{font-style: normal; text-transform: uppercase; font-size: 2.2rem;}
            }//h3
          }// .text_box
        }// .text_box_b
        >.best_indi{position: absolute; z-index: 2; bottom: 8%; right: 8%; width: 85px; height: 15px; background-color: inherit;
          >button{width: 15px; height: 100%; background-repeat: no-repeat; background-size: contain; background-position: 50% 50%; background-color: inherit;}
          >.prev{float: left; background-image: url("../../img/prev.png");}
          >.center{float: right; width: 15px; height: 13px; margin: 1px 20px; background-repeat: no-repeat; background-size: contain; background-position: 50% 50%; background-image: url("../../img/center.png");}
          >.next{float: right; background-image: url("../../img/next.png");}
        }// .best_indi
      }// .text_area
    }// .best_area
    >.best_line{position: absolute; z-index: 0; top: 0; left: 0; width: 550px; height: 100%;
      >li{float: left; width: 110px; height: 100%; border-left: 1px solid #efefef; box-sizing: border-box;}
      >li:last-child{border-right: 1px solid #efefef;}
    }// .best_line  
    }// .best_bg
  }// #bestBox
  #eventBox{width: 100%; height: auto; padding: 100px 0; box-sizing: border-box; background-color: #efefef;
    >.event_bg{width: 1000px; height: auto; margin: auto;
    >.event_area{width: 100%; height: auto;
      >ul{float: left; width: 320px; height: 500px; margin-right: 20px;
        >.pic{width: 100%; height: 430px; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;}// .pic
        >.pic_01{background-image: url("../../img/milli.jpg");}
        >.pic_02{background-image: url("../../img/wonderland.jpg");}
        >.pic_03{background-image: url("../../img/matia.jpg");}
        >.text{width: 100%; height: 70px; padding: 0.9rem 0; box-sizing: border-box; background-color: #fff;
          >h3{width: 100%; color: $textem; font-size: 1rem; text-transform: uppercase; text-align: center;}
          >p{display: block; width: 100%; height: auto; color: $text; text-align: center;
            >a{display: block; width: 100%; height: 100%;
            >i{display: inline-block; width: 8px; height: 8px; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url("../../img/next.png");}
          }// a
          }// p
        }// .text
      }// ul
      >ul:last-child{margin-right: 0;}
    }// .event_area
    >.event_area::after{content: " "; display: block; width: 0; height: 0; clear: both;}
  }// .event_bg
  }// #eventBox
}// #conBox
// #footBox ===================================================================================
#footBox{width: 100%; height: auto;
  >.info_area{width: 100%; height: 240px; padding: 2rem 7rem; box-sizing: border-box; background-color: #fff;
    >li:first-child{float: left; width: auto; height: auto;
      >dl{width: 100%; height: 100%;
        >dt{width: 220px; height: 20px; padding: 0.8rem 0; margin-bottom: 0.8rem; border-bottom: 1px solid #999; font-size: 1.1rem; color: $textem;}// dt
        >dd{font-size: 0.8rem; width: auto; height: auto; line-height: 1.8; color: $text;}
      }// dl
    }// li
    >li:last-child{float: right; width: auto; height: auto;
      >dl{width: 100%; height: 100%;
        >dt{width: 700px; height: 20px; padding: 0.8rem 0; margin-bottom: 0.8rem; border-bottom: 1px solid #999; font-size: 1rem;
          >a{display: block; float: left; width: auto; height: 100%; margin-right: 10px; font-size: 0.9rem; color: $textem;}
        }// dt
        >dd{float: left; font-size: 0.8rem; width: auto; height: auto; line-height: 1.8; color: $text;}
        >dd:last-child{float: right;}
      }// dl
    }// li:last-child
  }// .info_area
  >.logo_area{width: 100%; height: 90px; padding: 2rem 7rem; box-sizing: border-box; background-color: #efefef;
    >ul:first-child{float: left;
      >li{float: left; width: 120px; height: 25px; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url("../../img/logo.png");}
      >li:last-child{float: left; width: 65px; margin-left: 2rem; background-image: url("../../img/clab_logo.gif");}
    }// ul:first-child
    >ul:last-child{float: right;
      >li{float: left; width: 25px; height: 25px; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url("../../img/insta.png"); margin-right: 0.6rem;}
      >li:nth-child(2){background-image: url("../../img/facebook.png");}
      >li:nth-child(3){background-image: url("../../img/youtube.png"); margin-right: 0;}
    }// ul:last-child
  }// .info_area
}// #footBox